﻿@model IPageViewModel<BlogPostPage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_Blog.cshtml";

}
<div id="PageUtils">
    @Html.Partial("Breadcrumbs")
    @Html.Partial("PageUtilityMenu")
    <div class="clearfix"></div>
</div>
@if ((Model.CurrentPage.TopBlockArea != null && Model.CurrentPage.TopBlockArea.FilteredItems.Count() > 0) || PageEditing.PageIsInEditMode)
{
    <div class="top-header">
        @Html.PropertyFor(x => x.CurrentPage.TopBlockArea)
    </div>
}
<div class="page-header">
    <h1>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>
</div>

<div id="pagecontentbody">
    @Html.PropertyFor(x => x.CurrentPage.MainBody)
</div>
@section RightColumn {
    @Html.PropertyFor(x => x.CurrentPage.RightBlockArea)
    @Html.PropertyFor(x => x.CurrentPage.RightFixedBlockArea)
}
@section FooterScripts{
    @if (!Model.CurrentPage.CommentsClosed && !PageEditing.PageIsInEditMode)
    {
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=@System.Configuration.ConfigurationManager.AppSettings["AppId"].ToString()";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    }
}