﻿@model ListingViewModel<BlogPage, BlogPostPage>
@using EPiServer
@using EPiServer.Core
@using EPiServer.Web.Routing
@using LakeTrust.Business
@{
    Layout = "~/Views/Shared/Layouts/_Blog.cshtml";
}
<div id="PageUtils">
    @Html.Partial("Breadcrumbs")
    @Html.Partial("PageUtilityMenu")
    <div class="clearfix"></div>
</div>
@if ((Model.CurrentPage.TopBlockArea != null && Model.CurrentPage.TopBlockArea.FilteredItems.Count() > 0) || PageEditing.PageIsInEditMode)
{
    <div class="top-header">
        @Html.PropertyFor(x => x.CurrentPage.TopBlockArea)
    </div>
}
<div class="page-header">
    <h1>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>
</div>

<div id="pagecontentbody">
    @Html.Partial("BlogListing", Model.Pages)
    @Html.Pager(Model.CurrentPage.ContentLink, Model.PageIndex, Model.TotalItems, Model.PageWeight, "paging")
</div>
@section RightColumn {
    @Html.PropertyFor(x => x.CurrentPage.RightBlockArea)
    @Html.PropertyFor(x => x.CurrentPage.RightFixedBlockArea)
}
@section FooterScripts{
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
}