﻿@model PageViewModel<CalendarEventPage>
@using LakeTrust.Business
@Html.FullRefreshPropertiesMetaData(new string[] { "EventLocation" })
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumn.cshtml";
}
@section LeftColumn {
    @Html.Partial("LeftNavigationMenu", Model.ParentBelowStartPage)
    @Html.PropertyFor(x => x.CurrentPage.LeftBlockArea)
}
<div id="PageUtils">
    @Html.Partial("Breadcrumbs")
    @Html.Partial("PageUtilityMenu")
    <div class="clearfix"></div>
</div>

<div class="page-header">
    <h1>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>
</div>

<div id="pagecontentbody">
    @Html.PropertyFor(x => x.CurrentPage.TopBlockArea)
    <div class="datetime" style="padding-bottom: 6px;">
        <span @Html.EditAttributes(x => x.CurrentPage.EventDateTime)>@Model.CurrentPage.EventDateTime.ToString("MMMM dd, yyyy")</span>
        @if (Model.CurrentPage.HasEndDate || PageEditing.PageIsInEditMode)
        {
            <text>to</text> <span @Html.EditAttributes(x => x.CurrentPage.EventEndDateTime)>@Model.CurrentPage.EventEndDateTime.ToString("MMMM dd, yyyy")</span>
        }
    </div>
    <div class="datetime" style="padding-bottom: 6px;">
        <span @Html.EditAttributes(x => x.CurrentPage.EventStartTime)>@Model.CurrentPage.EventStartTime</span>
        @if (!string.IsNullOrEmpty(Model.CurrentPage.EventEndTime) || PageEditing.PageIsInEditMode)
        {
            @Html.Raw("&nbsp;-&nbsp;")
        }
        <span @Html.EditAttributes(x => x.CurrentPage.EventEndTime)>@Model.CurrentPage.EventEndTime</span>
    </div>
    @if (!string.IsNullOrEmpty(Model.CurrentPage.EventLocation) || PageEditing.PageIsInEditMode)
    {
        <div class="datetime" style="padding-bottom: 6px;" @Html.EditAttributes(x => x.CurrentPage.EventLocation)>
            @Html.Raw(Model.CurrentPage.EventLocation)
        </div>
    }
    @Html.PropertyFor(x => x.CurrentPage.MainBody)
    @Html.PropertyFor(x => x.CurrentPage.PageForm)
    @Html.PropertyFor(x => x.CurrentPage.BottomBlockArea)
</div>