﻿@model ListingViewModel<CalendarPage, CalendarEventPage>
@using LakeTrust.Business
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumn.cshtml";
}
@section LeftColumn {
    @Html.Partial("LeftNavigationMenu", Model.ParentBelowStartPage)
    @Html.PropertyFor(x => x.CurrentPage.LeftBlockArea)
}
<div id="PageUtils">
    @Html.Partial("Breadcrumbs")
    @Html.Partial("PageUtilityMenu")
    <div class="clearfix"></div>
</div>
@if ((Model.CurrentPage.TopBlockArea != null && Model.CurrentPage.TopBlockArea.FilteredItems.Count() > 0) || PageEditing.PageIsInEditMode)
{
    <div class="top-header">
        @Html.PropertyFor(x => x.CurrentPage.TopBlockArea)
    </div>
}
<div class="page-header">
    <h1>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>
</div>

<div id="pagecontentbody">
    @foreach (CalendarEventPage newsItem in Model.Pages)
    {
        <div class="media">
            <div class="pull-left">
                <div class="cal-wrapper">
                    <span class="month">@newsItem.EventDateTime.ToString("MMM")</span>
                    <span class="day">@newsItem.EventDateTime.ToString("dd")</span>
                </div>
            </div>
            <div class="media-body">
                <h3>@Html.PageLink(newsItem)</h3>
                <small>
                    @newsItem.EventDateTime.ToString("MMMM dd, yyyy")
                    @if (newsItem.HasEndDate)
                    {
                        <text>to </text> @newsItem.EventEndDateTime.ToString("MMMM dd, yyyy")
                    }
                </small>
                <p>@Html.Raw(newsItem.Teaser)</p>
                <a href="@Url.ContentUrl(newsItem.ContentLink)">Read More</a>
            </div>
        </div>
    }
    @Html.Pager(Model.CurrentPage.ContentLink, Model.PageIndex, Model.TotalItems, Model.PageWeight, "paging")
</div>