﻿@model GenericViewModel
@using LakeTrust.Business
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumn.cshtml";
}
@section LeftColumn {
    @Html.Partial("LeftNavigationMenu", Model.ParentBelowStartPage)
    <div @Html.EditAttributes(x => x.LeftBlockArea)>
        @Html.PropertyFor(x => x.LeftBlockArea)
    </div>
}
<div id="PageUtils">
    @Html.Partial("Breadcrumbs")
    @Html.Partial("PageUtilityMenu")
    <div class="clearfix"></div>
</div>
@if ((Model.TopBlockArea != null && Model.TopBlockArea.FilteredItems.Count() > 0) || PageEditing.PageIsInEditMode)
{
    <div class="top-header" @Html.EditAttributes(x => x.TopBlockArea)>
        @Html.PropertyFor(x => x.TopBlockArea)
    </div>
}
<div class="page-header">
    <h1 @Html.EditAttributes(x => x.Title)>@Html.PropertyFor(x => x.Title)</h1>
</div>
<div id="pagecontentbody">
    <div id="page-content-body">
        <div @Html.EditAttributes(x => x.MainBody)> @Html.PropertyFor(x => x.MainBody)</div>
        <div class="clearfix"></div>
        <div @Html.EditAttributes(x => x.BottomBlockArea)>@Html.PropertyFor(x => x.BottomBlockArea)</div>
    </div>
</div>