﻿@model StartPageViewModel
@using LakeTrust.Business
<div class="rotator">
    @Html.PropertyFor(x => x.CurrentPage.HeaderBlockArea)
</div>
<!--[if lte IE 8]>
    <div class="row">
        <div class="col-xs-12">
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
    </div>
<![endif]-->

<div class="start row">
    <div class="col-xs-12-column col-sm-6 col-md-3">
        @Html.PropertyFor(x => x.CurrentPage.LeftBlockArea)
    </div>
    <div class="col-xs-12-column col-sm-6 col-md-3">
        @Html.PropertyFor(x => x.CurrentPage.RightBlockArea)
    </div>
    <div class="col-xs-12-column col-sm-6 col-md-3">
        @Html.PropertyFor(x => x.CurrentPage.RightFixedBlockArea)
    </div>
    <div class="col-xs-12-column col-sm-6 col-md-3">
        @Html.PropertyFor(x => x.CurrentPage.BottomBlockArea)
    </div>
</div>
@section FooterScripts {
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
}