﻿@model HQStartViewModel
@{
    Layout = "~/Views/Shared/Layouts/_HQSite.cshtml";
    ViewBag.Title = "Home";
}
<div class="row hq-start-page">
    <div class="col-xs-12 col-md-3">
        <div data-spy="affix" class="float-nav">
            <img class="logo" src="@Url.ContentUrl(Model.Logo)" @Html.EditAttributes(x => x.Logo) />
            @if (Model.MainNavigation.Count > 0)
            {
                <button type="button" class="navbar-toggle  hidden-xs hidden-sm" data-toggle="collapse" data-target="#hq-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="clearfix"></div>
                <div id="hq-navigation" class=" hidden-xs hidden-sm">
                    @foreach (LinkItem item in Model.MainNavigation)
                    {
                        <a href="@item.Href" class="@item.Title text-right">@item.Text</a>
                    }
                </div>
            }
            <a href="@Url.ContentUrl(EPiServer.Web.SiteDefinition.Current.StartPage)" class="hidden-print visible-md visible-lg lt-logo"></a>
        </div>
    </div>
    <div class="col-xs-12 col-md-9">
        @Html.PropertyFor(x => x.MainContent, new { CssClass = "row hq-start", tag = "col-sm-12" })
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3">
        <div class="social-media">
            <a class="metro social lightblue twitter" href="@Url.ContentUrl(Model.TwitterUrl)" @Html.EditAttributes(x => x.TwitterUrl)></a>
            <a class="metro social blue facebook" href="@Url.ContentUrl(Model.FacebookUrl)" @Html.EditAttributes(x => x.FacebookUrl)></a>
            <a class="metro social red youtube" href="@Url.ContentUrl(Model.YouTubeUrl)" @Html.EditAttributes(x => x.YouTubeUrl)></a>
            <a class="metro social brown instagram" href="@Url.ContentUrl(Model.InstagramUrl)" @Html.EditAttributes(x => x.InstagramUrl)></a>
            <a class="metro social gray email" href="mailto:@Model.EmailAddress" @Html.EditAttributes(x => x.EmailAddress)></a>
        </div>
    </div>
</div>
@section FooterScripts {
    @if (!PageEditing.PageIsInEditMode)
    {
        <script>
            $(function () {
                setTimeout(function () {
                    equalHeightElements();
                }, 1000);

                $(window).bind("debouncedresize", function () {
                    equalHeightElements();
                    $(".social-media a").each(function () {
                        var width = $(this).width();
                        $(this).height(width);
                    })
                });
            })
        </script>
    }
}