﻿@model HQUpdateViewModel
@Html.FullRefreshPropertiesMetaData(new string[] { "Title" })
@{
    Layout = "~/Views/Shared/Layouts/_HQSite.cshtml";
    ViewBag.Title = Model.CurrentPage.Title;
    var startPage = ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>().Get<HQStartPage>(Model.CurrentPage.ParentLink);
}
<div class="row">
    <div class="col-xs-12 col-md-3">
        <div data-spy="affix" class="float-nav">
            <a href="@Url.ContentUrl(startPage.ContentLink)"><img class="logo" src="@Url.ContentUrl(startPage.Logo)" /></a>
            @if (Model.MainNavigation.Count() > 0)
            {
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hq-navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="clearfix"></div>
                <div id="hq-navigation">
                    @foreach (var linkItem in Model.MainNavigation)
                    {
                        <a href="@linkItem.Href" class="@linkItem.Title text-right">@linkItem.Text</a>
                    }
                </div>
            }
            @if (startPage.LakeTrustLogo != null && startPage.LakeTrustLogo != ContentReference.EmptyReference)
            {
                <img class="lt-logo hidden-print visible-md visible-lg" src="@Url.ContentUrl(startPage.LakeTrustLogo)" />
            }
        </div>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            <div class="col-xs-12">
                <div class="metro link">@Html.ContentLink("Go Back", Model.CurrentPage.ParentLink, null, new { @class = "text-center" })</div>
                <h1 class="page-title" @Html.EditAttributes(x => x.CurrentPage.Title)>@Model.CurrentPage.Title</h1>
                <div class="date">@Model.CurrentPage.StartPublish.ToString("MMMM dd, yyyy")</div>
                @Html.PropertyFor(x => x.CurrentPage.MainContent)
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                @if (Model.PreviousContent != null)
                {
                    <div class="metro link">
                        <a href="@Url.ContentUrl(Model.PreviousContent.ContentLink)" class="text-center">Previous Update</a>
                    </div>
                }
            </div>
            <div class="col-xs-12 col-sm-6">
                @if (Model.NextContent != null)
                {
                    <div class="metro link">
                        <a href="@Url.ContentUrl(Model.NextContent.ContentLink)" class="text-center">Next Update</a>
                    </div>
                }
            </div>
        </div>
        @if (Model.AllowComments && !PageEditing.PageIsInEditMode)
        {
            <div class="row">
                <div class="col-xs-12">
                    <div class="fb-comments" data-href="@string.Format("{0}{1}", EPiServer.Web.SiteDefinition.Current.SiteUrl, Url.ContentUrl(Model.CurrentPage.ContentLink))" data-num-posts="2" data-mobile="false"></div>
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3">
        <div class="social-media">
            <a class="metro social lightblue twitter" href="@Url.ContentUrl(startPage.TwitterUrl)" @Html.EditAttributes(x => startPage.TwitterUrl)></a>
            <a class="metro social blue facebook" href="@Url.ContentUrl(startPage.FacebookUrl)" @Html.EditAttributes(x => startPage.FacebookUrl)></a>
            <a class="metro social red youtube" href="@Url.ContentUrl(startPage.YouTubeUrl)" @Html.EditAttributes(x => startPage.YouTubeUrl)></a>
            <a class="metro social brown instagram" href="@Url.ContentUrl(startPage.InstagramUrl)" @Html.EditAttributes(x => startPage.InstagramUrl)></a>
            <a class="metro social gray email" href="mailto:@startPage.EmailAddress" @Html.EditAttributes(x => startPage.EmailAddress)></a>
        </div>
    </div>
</div>
@section FooterScripts {
    @if (Model.AllowComments && !PageEditing.PageIsInEditMode)
    {
        <div id="fb-root"></div>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=@System.Configuration.ConfigurationManager.AppSettings["HQAppId"].ToString()";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    }
}