﻿@model PageViewModel<LandingPage>
@Html.FullRefreshPropertiesMetaData(new string[] { "FullWidth", "RightBlockArea" })
@{
    Layout = "~/Views/Shared/Layouts/_Site.cshtml";
    var spanClass = Model.CurrentPage.FullWidth ? "col-sm-12" : "col-sm-9";
}
@if (Model.CurrentPage.TopBlockArea.HasItems() || PageEditing.PageIsInEditMode)
{
    <div class="row mt20">
        <div class="col-xs-12 top-content-area">
            @Html.PropertyFor(x => x.CurrentPage.TopBlockArea)
        </div>
    </div>
}
@if (!Model.CurrentPage.HidePageTitle || PageEditing.PageIsInEditMode)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="@spanClass">
        @Html.PropertyFor(x => x.CurrentPage.MainBody)
        @if (Model.CurrentPage.PageForm != null)
        {
            @Html.ValidationSummary()
            @Html.PropertyFor(x => x.CurrentPage.PageForm, new
                {
                    XFormParameters = new EPiServer.XForms.Util.XFormParameters()
                    {
                        PostAction = "XFormPost",
                        SuccessAction = "Success",
                        FailedAction = "Failed"
                    }
                })
        }
        @if (Model.CurrentPage.CenterBlockArea.HasItems() || PageEditing.PageIsInEditMode)
        {
        <div class="row">
            <div class="col-sm-12">
                @Html.PropertyFor(x => x.CurrentPage.CenterBlockArea, new
                {
                    tag = "col-sm-12"
                })
            </div>
        </div>
        }
    </div>
    @if (!Model.CurrentPage.FullWidth)
    {
        <div class="col-sm-3">
            @Html.PropertyFor(x => x.CurrentPage.RightFixedBlockArea)
        </div>
    }
</div>
@if (Model.CurrentPage.BottomBlockArea.HasItems() || PageEditing.PageIsInEditMode)
{
    <div class="row">
        <div class="col-sm-12">
            <div @Html.EditAttributes(x => x.CurrentPage.BottomBlockArea)>
                @Html.DisplayFor(x => x.CurrentPage.BottomBlockArea)
            </div>
        </div>
    </div>
}