﻿@model ListingViewModel<NewsPage, NewsArticlePage>
@using LakeTrust.Business
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumn.cshtml";
}
@section LeftColumn {
    @Html.Partial("LeftNavigationMenu", Model.ParentBelowStartPage)
    @Html.PropertyFor(x => x.CurrentPage.LeftBlockArea)
}
<div id="PageUtils">
    @Html.Partial("Breadcrumbs")
    @Html.Partial("PageUtilityMenu")
    <div class="clearfix"></div>
</div>
@if ((Model.CurrentPage.TopBlockArea != null && Model.CurrentPage.TopBlockArea.FilteredItems.Count() > 0) || PageEditing.PageIsInEditMode)
{
    <div class="top-header">
        @Html.PropertyFor(x => x.CurrentPage.TopBlockArea)
    </div>
}
<div class="page-header">
    <h1>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>
</div>

<div id="pagecontentbody">
    <ul class="list-unstyled small-newslist">
        @foreach (NewsArticlePage newsItem in Model.Pages)
        {
            <li>
                <h3>@Html.Raw(newsItem.Title)</h3>
                <small>@Html.Raw(newsItem.StartPublish.ToString("MMMM dd, yyyy"))</small>
                <p>@Html.Raw(newsItem.Teaser)</p>
                <a href="@Url.ContentUrl(newsItem.ContentLink)">Read More</a>
            </li>
        }
    </ul>
    @Html.Pager(Model.CurrentPage.ContentLink, Model.PageIndex, Model.TotalItems, Model.PageWeight, "paging")
</div>