﻿@model PageNotFoundViewModel
@using LakeTrust.Business
@{
    Layout = "~/Views/Shared/Layouts/_Site.cshtml";
}

<div id="PageUtils">
    @Html.Partial("Breadcrumbs")
    @Html.Partial("PageUtilityMenu")
    <div class="clearfix"></div>
</div>
@if ((Model.CurrentPage.TopBlockArea != null && Model.CurrentPage.TopBlockArea.FilteredItems.Count() > 0) || PageEditing.PageIsInEditMode)
{
    <div class="top-header">
        @Html.PropertyFor(x => x.CurrentPage.TopBlockArea)
    </div>
}
<div class="page-header">
    <h1>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>
</div>

<div id="pagecontentbody">
    <div class="body-column">
        @Html.PropertyFor(x => x.CurrentPage.MainBody)
    </div>
    @Html.PropertyFor(x => x.CurrentPage.BottomBlockArea)
</div>