﻿@model IPageViewModel<SitePageData>

@{
    Layout = "~/Views/Shared/Layouts/_TwoColumn.cshtml";
    var spanClass = Model.CurrentPage.FullWidth ? "col-sm-12" : "col-sm-8";
}

@section LeftColumn {
    @Html.Partial("LeftNavigationMenu", Model.ParentBelowStartPage)
    <div @Html.EditAttributes(x => x.CurrentPage.LeftBlockArea)>
        @Html.PropertyFor(x => x.CurrentPage.LeftBlockArea)
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <div id="PageUtils">
            @Html.Partial("Breadcrumbs")
            @Html.Partial("PageUtilityMenu")
            <div class="clearfix"></div>
        </div>
    </div>
</div>
@if (Model.CurrentPage.TopBlockArea.HasItems() || PageEditing.PageIsInEditMode)
{
    <div class="row">
        <div class="col-xs-12 top-content-area">
            @Html.PropertyFor(x => x.CurrentPage.TopBlockArea)
        </div>
    </div>
}
<div class="row">
    <div class="@spanClass">
        <div class="page-header">
            <h1 @Html.EditAttributes(x => x.CurrentPage.Title)>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>
        </div>
        <div id="pagecontentbody">
            <div id="page-content-body">
                <div @Html.EditAttributes(x => x.CurrentPage.MainBody)> @Html.PropertyFor(x => x.CurrentPage.MainBody)</div>
                <div class="clearfix"></div>
                @if (Model.CurrentPage.CenterBlockArea.HasItems() || PageEditing.PageIsInEditMode)
                {
                    @Html.PropertyFor(x => x.CurrentPage.CenterBlockArea, new { CssClass = "row center-block", tag = "col-sm-12" })
                }
            </div>
        </div>
    </div>
    @if (!Model.CurrentPage.FullWidth)
    {
        <div class="col-sm-4">
            @Html.PropertyFor(x => x.CurrentPage.RightFixedBlockArea)
        </div>
    }
</div>
@if (Model.CurrentPage.BottomBlockArea.HasItems() || PageEditing.PageIsInEditMode)
{
    <div class="row">
        <div class="col-sm-12">
            @Html.PropertyFor(x => x.CurrentPage.BottomBlockArea)
        </div>
    </div>
}