﻿@model ListingViewModel<SearchResult, SearchHit>
@using LakeTrust.Business
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumn.cshtml";
}
@section LeftColumn {
    @if (Model.ParentBelowStartPage.GetChildren<PageData>().Count() > 0)
    {
        @Html.Partial("LeftNavigationMenu", Model.ParentBelowStartPage)
    }
    @Html.PropertyFor(x => x.CurrentPage.LeftBlockArea)
}
<div class="page-header">
    <h1 class="pull-left">
        @Model.CurrentPage.SearchTermTitle '@Model.SearchTerm'
    </h1>
    @Html.Partial("PageUtilityMenu")
    <div class="clearfix"></div>
</div>
<div id="page-content-body">
    @Html.PropertyFor(x => x.CurrentPage.TopBlockArea)
    @Html.PropertyFor(x => x.CurrentPage.MainBody)
    <ul class="list-unstyled search-results">
        @foreach (SearchHit searchHit in Model.Pages)
        {
            <li>
                <h2><a href="@searchHit.Url" title="@searchHit.Title">@searchHit.Title</a></h2>
                <p>
                    @Html.Raw(searchHit.SearchText)
                    <div><em><a href="@searchHit.Url">@string.Format("{0}{1}", EPiServer.Web.SiteDefinition.Current.SiteUrl.ToString().RemoveTrailingSlash(), searchHit.Url)</a></em></div>
                </p>
            </li>
        }
    </ul>
    @Html.BlendPager(Model.PageWeight,Model.TotalItems,Model.PageIndex)
    @Html.PropertyFor(x => x.CurrentPage.BottomBlockArea)
</div>