﻿@model SiteMapViewModel
@using LakeTrust.Business
@{
    Layout = "~/Views/Shared/Layouts/_Site.cshtml";
}
<div id="PageUtils">
    @Html.Partial("Breadcrumbs")
    @Html.Partial("PageUtilityMenu")
    <div class="clearfix"></div>
</div>
<div class="page-header">
    <h1 @Html.EditAttributes(x => x.CurrentPage.Title)>@Html.Raw(Model.CurrentPage.Title)</h1>
</div>
<div class="row">
    @foreach (PageData data in Model.Children)
    {
    <div class="col-xs-12 col-md-4 site-map">
        <h3>@Html.PageLink(data)</h3>
        @Html.PageTreeRecursive(data.ContentLink, "list-unstyled", 3)
    </div>
    }
</div>