﻿@model PageViewModel<StandardPage>
@Html.FullRefreshPropertiesMetaData(new string[] { "RightBlockArea", "CenterBlockArea", "RightFixedBlockArea" })
@{
    Layout = "~/Views/Shared/Layouts/_TwoColumn.cshtml";
    var spanClass = Model.CurrentPage.FullWidth ? "col-sm-12" : "col-sm-8";
}
@section LeftColumn {
    @Html.Partial("LeftNavigationMenu", Model.ParentBelowStartPage)
    @Html.PropertyFor(x => x.CurrentPage.LeftBlockArea)
}
<div id="PageUtils">
    @Html.Partial("Breadcrumbs")
    @Html.Partial("PageUtilityMenu")
    <div class="clearfix"></div>
</div>

@if (Model.CurrentPage.TopBlockArea.HasItems() || PageEditing.PageIsInEditMode)
{
    <div class="row">
        <div class="col-xs-12">
            @Html.PropertyFor(x => x.CurrentPage.TopBlockArea, new { CssClass = "top-content-area" })
        </div>
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.CurrentPage.Title) || PageEditing.PageIsInEditMode)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>@Html.PropertyFor(x => x.CurrentPage.Title)</h1>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="@spanClass">
        @Html.PropertyFor(x => x.CurrentPage.MainBody)
        @if (Model.CurrentPage.PageForm != null)
        {
            @Html.ValidationSummary()
            @Html.PropertyFor(x => x.CurrentPage.PageForm, new
            {
                XFormParameters = new EPiServer.XForms.Util.XFormParameters()
                {
                    PostAction = "XFormPost",
                    SuccessAction = "Success",
                    FailedAction = "Failed"
                }
            })
        }

        @if (Model.CurrentPage.CenterBlockArea.HasItems() || PageEditing.PageIsInEditMode)
        {
            @Html.PropertyFor(x => x.CurrentPage.CenterBlockArea, new { CssClass = "row center-block", tag = "col-sm-12" })
        }
    </div>
    @if (!Model.CurrentPage.FullWidth)
    {
        <div class="col-sm-4">
            @Html.PropertyFor(x => x.CurrentPage.RightFixedBlockArea)
        </div>
    }
</div>
@if (Model.CurrentPage.BottomBlockArea.HasItems() || PageEditing.PageIsInEditMode)
{
    <div class="row">
        <div class="col-sm-12">
            @Html.PropertyFor(x => x.CurrentPage.BottomBlockArea)
        </div>
    </div>
}