﻿@model StartPageViewModel

@Html.PropertyFor(x => x.CurrentPage.HeaderBlockArea)
<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-3">
        @Html.PropertyFor(x => x.CurrentPage.LeftBlockArea)
    </div>
    <div class="col-xs-12 col-sm-8 col-md-3">
        @Html.PropertyFor(x => x.CurrentPage.RightBlockArea)
    </div>
    <div class="col-xs-12 col-md-6">
        @Html.PropertyFor(x => x.CurrentPage.RightFixedBlockArea, new { Tag = "span6" })
    </div>
</div>
@section FooterScripts {
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
}