﻿@model LakeTrust.Models.Media.ImageFile
@if (Model != null)
{
    if (Model.IsResponsiveImage.HasValue)
    {
        <img src="@Url.ContentUrl(((IContent)Model).ContentLink)" class="img-responsive" />
    }
    else
    {
        <img src="@Url.ContentUrl(((IContent)Model).ContentLink)" />
    }
}
else if (PageEditing.PageIsInEditMode)
{
    <div class="alert alert-info">Could not render image</div>
}