$ralewaybold: ralewaybold;
$ralewayextrabold: ralewayextrabold;
$ralewayextralight: ralewayextralight;
$ralewayheavy: ralewayheavy;
$ralewaylight: ralewaylight;
$ralewaymedium: ralewaymedium;
$ralewayregular: ralewayregular;
$ralewaysemibold: ralewaysemibold;
$ralewaythin: ralewaythin;

$white: #ffffff;
$blue: #0065a4;
$lightgray: #E4E4E4;
$green: #5C8727;
$gray: #6E6E6E;
$mediumgray: #cccccc;
$col1: 220px;
$col2: 460px;
$col3: 700px;
$col4: 940px;

$prefixes: -webkit-, -moz-, -o-, "";

@mixin borderRadius($size...) {
    @if length($size) == 1 {
        @each $prefix in $prefixes {
            #{$prefix}border-radius: $size;
        }

        behavior: url(/Scripts/PIE/PIE.htc);
    }
    @else {
        @include customBorderRadius($size...);
    }
}

@mixin customBorderRadius($topLeft: 0, $topRight: 0, $bottomRight: 0, $bottomLeft: 0) {
    @each $prefix in $prefixes {
        @if $prefix == "-moz-" {
            @if $topLeft != 0 {
                -moz-border-radius-topleft: $topLeft;
            }

            @if $topRight != 0 {
                -moz-border-radius-topright: $topRight;
            }

            @if $bottomRight != 0 {
                -moz-border-radius-bottomright: $bottomRight;
            }

            @if $bottomLeft != 0 {
                -moz-border-radius-bottomleft: $bottomLeft;
            }
        }
        @else {
            @if $topLeft != 0 {
                #{$prefix}border-top-left-radius: $topLeft;
            }

            @if $topRight != 0 {
                #{$prefix}border-top-right-radius: $topRight;
            }

            @if $bottomRight != 0 {
                #{$prefix}border-bottom-right-radius: $bottomRight;
            }

            @if $bottomLeft != 0 {
                #{$prefix}border-bottom-left-radius: $bottomLeft;
            }
        }
    }

    behavior: url(/Scripts/PIE/PIE.htc);
}

@mixin widget-title-block($hColor, $gradColor) {
    background-color: $hColor;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.85);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.85);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.85);
    font-family: $ralewayextrabold !important;
    @include borderRadius(6px);
    color: #ffffff !important;
    border: solid 0px $hColor;
    overflow: hidden;
    letter-spacing: 1px;
    padding: 10px;
    font-size: 18px !important;
    text-transform: none;
}

@mixin widget-title-blockHTag($hColor, $gradColor, $color) {
    @for $i from 2 through 6 {
        H#{$i}.#{$color} {
            @include widget-title-block($hColor,$gradColor);
        }
    }
}

@mixin gradient($from, $to) {
    background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background: -moz-linear-gradient(top, $from, $to);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0);
    background-image: -ms-linear-gradient(top, $from 0%, $to 100%);
    behavior: url(/Scripts/PIE/PIE.htc);
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow: inset $top $left $blur $color;
        -moz-box-shadow: inset $top $left $blur $color;
        box-shadow: inset $top $left $blur $color;
    }
    @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }

    behavior: url(/Scripts/PIE/PIE.htc);
}

@mixin letterpress($opacity) {
    text-shadow: white($opacity) 0 1px 0;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }
}