@media (max-width: 979px) {
    body {
        padding: 0 10px;
    }
    .brand {
        margin: 20px auto 10px;
    }
    .mobile-pull-right {
        float: right;
    }
    .mobile-pull-left {
        float: left;
    }
    .mobile-pull-center {
        float: none;
        margin: 0 auto;
    }
    .mobile-menu {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        li {
            width: 50%;
            text-align: center;
            float: left;
            display: block;
            text-align: center;
            position: relative;
            padding: 0px;
            margin-right: 0px;
            margin-top: 0px;
            border: none;
            a {
                cursor: pointer;
                text-align: center;
                display: block;
                background: $blue;
                color: #fff;
                text-transform: uppercase;
                padding: 6px;
                margin: 0;
            }
            &:last-child {
                margin-right: 0px;
            }
            &.first-item a {
                -webkit-border-top-left-radius: 6px;
                -webkit-border-bottom-left-radius: 6px;
                -moz-border-radius-topleft: 6px;
                -moz-border-radius-bottomleft: 6px;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            &.last-item a {
                -webkit-border-top-right-radius: 6px;
                -webkit-border-bottom-right-radius: 6px;
                -moz-border-radius-topright: 6px;
                -moz-border-radius-bottomright: 6px;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }
    #header .brand {
        margin-top: 0px;
    }
    .main-menu-collapse {
        margin-bottom: 20px;
    }
    #header #searchtext {
        margin: 0px;
        width: 100px;
    }
    .mycreditcard {
        margin-bottom: 8px;
    }
    #header a, #footer .foot-nav .nav-pills > li > a {
        font-size: 10px;
    }
    .main-menu-collapse {
        margin-bottom: 0px;
    }
    .rotator {
        h1 {
            font-size: 30px;
        }
        small {
            font-size: 14px;
        }
        .btn {
            font-size: 10px;
            padding: 2px 10px;
            line-height: 18px;
        }
    }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.content-container {
		width: 748px;
		margin: 0 auto;
		padding: 0px;
    }
	#page-content {
		.start {
			#left-column {
				width: 47%;
			}
			#middle-column {
				width: 47%;
				*zoom: 1;
				&:before {
					display: table;
					line-height: 0;
					content: "";
				}
				&:after {
					display: table;
					line-height: 0;
					content: "";
					clear: both;
				}
			}
			#right-column {
				width: 100%;
			}
		}
		#main-column {
			width: 508px;
		}
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#header {
		margin-bottom: 20px;
		#logo {
            position: relative;
	        width: 100%;
	        .brand {
		        margin: 0 auto;
			}
		}
		#navigation {
			display: none;
		}
		#MobileMainNavigation {
			display: block;
		}
		.search-box {
			width: 100% !important;
			float: none;
			#QuickLinks {
				float: left;
				font-weight: bold;
				color: #6E6E6E;
				line-height: 28px;
			}
			#searchtext {
				float: right;
			}
		}

		#MobileMainNavigation {
			background: $blue;
			margin-top: 20px;
			@include borderRadius(4px);
			li {
				width: 49%;
				padding: 0px;
				a {
					color: #fff;
					font-size: 17px;
					font-family: $ralewaylight;
					text-transform: uppercase;
					padding: 6px;
					text-align: center;
					display: block;
				}
			}
		}
		ul.QuickNav-Mobile {
			margin: 0px;
			list-style-type: none;
			padding: 0px;
			li {
				margin-top: 2px;
			}
			li a {
				color: $gray;
				background: $lightgray;
				display: block;
				line-height: 26px;
				font-size: 12px;
				text-align: center;
				font-weight: bold;
				padding: 6px;
				text-transform: uppercase;
				@include borderRadius(4px);
				font-family: $ralewaylight;
			}
		}
		.btn-navbar {
			cursor: pointer;
			padding: 7px 0;
		}
		.navigation-search {
			position: relative;
			float: none;
			padding: 0 0 12px;
			min-height: 30px;
			#searchtext {
				position: absolute;
				top: 0px;
				right: 3px;
			}
			#QuickNav {
				margin: 0px;
				padding: 0px;
				float: none;
				display: block;
				position: relative;
				&.nav-collapse .nav {
                    margin: 0px;
				}
			}
		}
		.nav-pills > li {
			margin-left: 0px;
			&:first-child {
				margin-top: 12px;
			}
			> a {
				padding-left: 0px;
				text-align: center;
				text-transform: uppercase;
				background: none repeat scroll 0 0 $lightgray;
				border-radius: 6px 6px 6px 6px;
				color: #6E6E6E;
			}
		}
	}
	#main-menu {
		display: none;
	}
    .content-container {
		width: 100%;
		margin: 0 auto;
		padding: 0px;
	}
    #page-content {
		#left-column {
			width: 100%;
			*zoom: 1;
			&:before {
				display: table;
				line-height: 0;
				content: "";
			}
			&:after {
				display: table;
				line-height: 0;
				content: "";
				clear: both;
			}
		}
		#middle-column {
			width: 100%;
			margin: 0px;
			*zoom: 1;
			&:before {
				display: table;
				line-height: 0;
				content: "";
			}
			&:after {
				display: table;
				line-height: 0;
				content: "";
				clear: both;
			}
		}
		#main-column {
			width: 100%;
			margin: 0px;
			*zoom: 1;
			&:before {
				display: table;
				line-height: 0;
				content: "";
			}
			&:after {
				display: table;
				line-height: 0;
				content: "";
				clear: both;
			}
		}
		#right-column {
			width: 100% !important;
		}
		.top-header {
			margin-top: 0px;
		}
	}
	.has-right-column .right-column {
		width: 100%;
		margin-left: 0px;
		float: none;
	}
	.has-right-column .body-column {
		width: 100%;
		margin-left: 0px;
		float: none;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
    #page-content .page-inner {
        margin-left: 0px;
    }
    .rotator, #page-header-image, .breadcrumb, .btn-toolbar {
        display: none;
    }
    #footer .foot-nav .nav-pills > li {
        float: none;
        display: block;
        border-left: 0px;
        margin-left: 0px;
        padding-left: 0px;
        > a {
            background: #e4e4e4;
            color: #6e6e6e;
            display: block;
            text-align: center;
            padding: 8px 6px;
            text-transform: uppercase;
            &:hover {
                background: #e4e4e4;
            }
        }
    }
    .nav.nav-pills.social-nav {
        width: 114px;
        float: none;
        margin: 0 auto 20px;
    }
    .footer-icons img {
        margin-left: 14px;
        margin-right: 0px;
    }
    #page-content .page-header {
        margin: 20px 0 0;
    }
    #pagecontainer {
        background: none;
    }
    #header #searchtext {
        width: 150px;
    }
    .nav-tabs.filterbar > li > a {
	    font-size: 12px;
    }
}

@media print {
    .pull-left, .pull-right {
        display: block;
        float: none;
        clear: both;
    }
    #header, .utilities-menu, .breadcrumb, #mainmenu, #epi-quickNavigator, #page-header-image, #footer {
        display: none !important;
    }
    .page-widget {
        background: none;
        border: 0px;
        &.sb {
            background: none;
            border: 0px;
        }
    }
    .small-newslist li, .related-links li {
        background: none;
        border: 0px;
    }
    .page-widget {
        &.wb {
            background: none;
            border: 0px;
        }
        &.sb .widget-inner, &.wb .widget-inner {
            margin: 0px;
            padding: 0px;
        }
    }
    #page-content .page-inner, .widget .widget-inner {
        margin: 0px;
        padding: 0px;
    }
    body, .widget h3, .page-widget h3, h1, h2, h3, h4, h5, h6, a {
        color: #6e6e6e;
        text-decoration: none;
    }
    .container, [class*="span"] {
        float: none;
        min-height: 1px;
        margin-left: 0px;
        width: 100% !important;
    }
    .row {
        display: block;
        margin: 0px;
        padding: 0px;
    }
    .icon-green {
        display: none;
    }
    .nav-pills > .active > a > {
        [class^="icon-"], [class*=" icon-"] {
            display: none;
        }
    }
    .nav-list > .active > a > {
        [class^="icon-"], [class*=" icon-"] {
            display: none;
        }
    }
    .navbar-inverse .nav > .active > a > {
        [class^="icon-"], [class*=" icon-"] {
            display: none;
        }
    }
    .dropdown-menu > {
        li > a:hover > {
            [class^="icon-"], [class*=" icon-"] {
                display: none;
            }
        }
        .active > a > {
            [class^="icon-"], [class*=" icon-"] {
                display: none;
            }
        }
    }
    .dropdown-submenu:hover > a > {
        [class^="icon-"], [class*=" icon-"] {
            display: none;
        }
    }
}