@import "_mixins.scss";
.rotator {
    position: relative;
    font-family: $ralewayregular;
    z-index: 10;
	padding: 0 0 15px 0;
    .slide-header {
        position: absolute;
        top: 20px;
        left: 20px;
		width: 470px;
        display: inline-block;
        &.caption-right {
            left: auto;
            right: 0px;
        }
    }
    h1 {
        color: $blue;
        font-size: 50px;
		line-height: 58px;
		font-family: $ralewaysemibold;
    }
    small {
        color: #6e6e6e;
        font-size: 20px;
        display: block;
        font-family: arial;
        margin-top: 12px;
		width: 220px;
		line-height: 22px;
		font-family: $ralewayregular;
    }
    .btn {
        margin: 30px auto 0;
        display: inline-block;
    }
	.rslides {
        z-index: 10;
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
        li {
            position: absolute;
            display: none;
            width: 100%;
            left: 0;
            top: 0;
            &:first-child {
                position: relative;
                display: block;
                float: left;
            }
        }
        img {
            display: block;
            height: auto;
            float: left;
            width: 100%;
            border: 0;
        }
    }

    ul.rslides_tabs {
        list-style-type: none;
        padding: 0;
        z-index: 99999;
	    margin: 15px auto 0;
	    height: 12px;
        li {
            float: left;
            display: block;
            margin-right: 6px;
            a {
			    background: transparent url(/Content/Images/slide-bullet.gif) no-repeat top right;
                height: 12px;
                width: 12px;
                display: block;
                overflow: hidden;
                text-align: center;
                text-indent: -9999px;
			    &:hover {
				    background-position: top left;
			    }
            }
            &.rslides_here a {
			    background-position: top left;
            }
        }
    }
}