$imagePath:                 '/Content/images/';

$green:						#799c48;
$purple:					#7765a1;
$metrogray:					#a7a9ac;
$red:						#ed1b24;
$blue:						#216093;
$brown:						#a77c52;
$lightblue:					#01aef0;
$white:						#ffffff;

$ralewaybold:				ralewaybold;
$ralewayextrabold:			ralewayextrabold;
$ralewayextralight:			ralewayextralight;
$ralewayheavy:				ralewayheavy;
$ralewaylight:				ralewaylight;
$ralewaymedium:				ralewaymedium;
$ralewayregular:			ralewayregular;
$ralewaysemibold:			ralewaysemibold;
$ralewaythin:				ralewaythin;
$colors:					green, purple, gray, red, blue, brown, lightblue, white;
$colorNames:				$green, $purple, $metrogray, $red, $blue, $brown, $lightblue, $white;