﻿.smallprint                                     { EditMenuTitle: Font Styles; EditMenuName: Small Print; font-weight: normal; line-height: 20px; margin: 10px 0; text-rendering: optimizelegibility; }
img.pull-right                                  { EditMenuTitle: Image Styles; EditMenuName: Align-Right; margin: 0 0 7px 7px; float: right;}
img.pull-left                                   { EditMenuName: Align-Left; margin: 0 7px 7px 0px; float: left;}
img.img-responsive                              { EditMenuName: Responsive Image;}
.btn.btn-primary.btn-large                      { EditMenuTitle: Buttons; EditMenuName: Button Large; }
.btn.btn-primary.btn-small                      { EditMenuName: Button Small; }
.btn-warning                                    { EditMenuName: Emphasis Warning;}
.btn.btn-primary                                { EditMenuName: Button Primary }
.btn.btn-error                                  { EditMenuName: Button Error;}
.btn.btn-info                                   { EditMenuName: Button Info;}
.btn.btn-success                                { EditMenuName: Button Success;}
.btn.btn-danger                                 { EditMenuName: Button Danger;}
.btn.btn-inverse                                { EditMenuName: Button Inverse;}
.btn.btn-link                                   { EditMenuName: Button Link;}
.blue                                           { EditMenuName: BlueText;}

.table                                          { EditMenuTitle: Table Styles; EditMenuName: Green Table; background: #e9f2de;}
.table                                          { EditMenuName: Table Default;}
.table.table-striped                            { EditMenuName: Table Striped;}
.table.table-bordered                           { EditMenuName: Table Bordered; }
.table.table-hover                              { EditMenuName: Table Hover;}
.table.condensed                                { EditMenuName: Table Condensed;}
.table.blue                                     { EditMenuName: Blue Table; background: #a6d1f0; color: #fff; }
.table caption                                  { text-align: left; font-weight: normal; padding-bottom: 3px; text-transform: capitalize; font-size: 15px;}

.lead                                           { EditMenuTitle: Base Camp Styles; EditMenuName: Lead;}
.muted                                          { EditMenuName: Emphasis Muted;}
.text-warning                                   { EditMenuName: Emphasis Warning;}
.text-error                                     { EditMenuName: Emphasis Error;}
.text-info                                      { EditMenuName: Emphasis Info;}
.text-success                                   { EditMenuName: Emphasis Success;}
.pull-left                                      { EditMenuName: Pull Left; }
.pull-Right                                     { EditMenuName: Pull Right; }
.inline                                         { EditMenuName: Inline; }

.intro                                          { EditMenuName: Intro; }