﻿@font-face {
  font-family: ralewaybold;
  src: url('/Content/fonts/ralewaybold.eot');
  src: url('/Content/fonts/ralewaybold.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/ralewaybold.woff') format('woff'), url('/Content/fonts/ralewaybold.ttf') format('truetype'), url('/Content/fonts/ralewaybold.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ralewayextrabold;
  src: url('/Content/fonts/ralewayextrabold.eot');
  src: url('/Content/fonts/ralewayextrabold.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/ralewayextrabold.woff') format('woff'), url('/Content/fonts/ralewayextrabold.ttf') format('truetype'), url('/Content/fonts/ralewayextrabold.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ralewayextralight;
  src: url('/Content/fonts/ralewayextralight.eot');
  src: url('/Content/fonts/ralewayextralight.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/ralewayextralight.woff') format('woff'), url('/Content/fonts/ralewayextralight.ttf') format('truetype'), url('/Content/fonts/ralewayextralight.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ralewayheavy;
  src: url('/Content/fonts/ralewayheavy.eot');
  src: url('/Content/fonts/ralewayheavy.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/ralewayheavy.woff') format('woff'), url('/Content/fonts/ralewayheavy.ttf') format('truetype'), url('/Content/fonts/ralewayheavy.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ralewaylight;
  src: url('/Content/fonts/ralewaylight.eot');
  src: url('/Content/fonts/ralewaylight.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/ralewaylight.woff') format('woff'), url('/Content/fonts/ralewaylight.ttf') format('truetype'), url('/Content/fonts/ralewaylight.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ralewaymedium;
  src: url('/Content/fonts/ralewaymedium.eot');
  src: url('/Content/fonts/ralewaymedium.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/ralewaymedium.woff') format('woff'), url('/Content/fonts/ralewaymedium.ttf') format('truetype'), url('/Content/fonts/ralewaymedium.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ralewayregular;
  src: url('/Content/fonts/ralewayregular.eot');
  src: url('/Content/fonts/ralewayregular.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/ralewayregular.woff') format('woff'), url('/Content/fonts/ralewayregular.ttf') format('truetype'), url('/Content/fonts/ralewayregular.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ralewaysemibold;
  src: url('/Content/fonts/ralewaysemibold.eot');
  src: url('/Content/fonts/ralewaysemibold.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/ralewaysemibold.woff') format('woff'), url('/Content/fonts/ralewaysemibold.ttf') format('truetype'), url('/Content/fonts/ralewaysemibold.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ralewaythin;
  src: url('/Content/fonts/ralewaythin.eot');
  src: url('/Content/fonts/ralewaythin.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/ralewaythin.woff') format('woff'), url('/Content/fonts/ralewaythin.ttf') format('truetype'), url('/Content/fonts/ralewaythin.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal; }

.rotator {
  position: relative;
  font-family: ralewayregular;
  z-index: 10;
  padding: 0 0 15px 0; }
  .rotator .slide-header {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 470px;
    display: inline-block; }
    .rotator .slide-header.caption-right {
      left: auto;
      right: 0px; }
  .rotator h1 {
    color: #0065a4;
    font-size: 50px;
    line-height: 58px;
    font-family: ralewaysemibold; }
  .rotator small {
    color: #6e6e6e;
    font-size: 20px;
    display: block;
    font-family: arial;
    margin-top: 12px;
    width: 220px;
    line-height: 22px;
    font-family: ralewayregular; }
  .rotator .btn {
    margin: 30px auto 0;
    display: inline-block; }
  .rotator .rslides {
    z-index: 10;
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0; }
    .rotator .rslides li {
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0; }
      .rotator .rslides li:first-child {
        position: relative;
        display: block;
        float: left; }
    .rotator .rslides img {
      display: block;
      height: auto;
      float: left;
      width: 100%;
      border: 0; }
  .rotator ul.rslides_tabs {
    list-style-type: none;
    padding: 0;
    z-index: 99999;
    margin: 15px auto 0;
    height: 12px; }
    .rotator ul.rslides_tabs li {
      float: left;
      display: block;
      margin-right: 6px; }
      .rotator ul.rslides_tabs li a {
        background: transparent url(/Content/Images/slide-bullet.gif) no-repeat top right;
        height: 12px;
        width: 12px;
        display: block;
        overflow: hidden;
        text-align: center;
        text-indent: -9999px; }
        .rotator ul.rslides_tabs li a:hover {
          background-position: top left; }
      .rotator ul.rslides_tabs li.rslides_here a {
        background-position: top left; }

body {
  padding: 0 0 30px;
  font-size: 15px;
  color: #333;
  font-family: ralewayregular; }

a {
  outline: 0; }
  a:focus {
    outline: 0; }
  a:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.logo {
  width: 259px;
  height: 68px;
  margin: 30px auto;
  display: block;
  border: 0px;
  cursor: pointer; }

a.lt-logo {
  width: 215px;
  height: 55px;
  margin: 330px auto 30px;
  display: block;
  border: 0px;
  background: transparent url(/Content/Images/lake-trust-logo-gray.gif) no-repeat top left; }
  a.lt-logo:hover {
    background: transparent url(/Content/Images/lake-trust-logo-color.gif) no-repeat top left; }

.affix {
  position: relative; }

.navbar-toggle {
  background: #0065a4;
  margin-right: 0px; }
  .navbar-toggle .icon-bar {
    background: #a7a9ac; }

.navbar-toggle {
  display: block; }

#hq-navigation {
  margin-bottom: 30px;
  display: none; }
  #hq-navigation.collapsing, #hq-navigation.in {
    display: block; }
  #hq-navigation a {
    display: block;
    font-size: 28px;
    color: #a7a9ac;
    font-family: ralewaylight;
    padding-right: 12px; }
    #hq-navigation a:hover {
      text-decoration: none;
      color: #0065a4; }
    #hq-navigation a.green:hover {
      color: #799c48; }
    #hq-navigation a.purple:hover {
      color: #7765a1; }
    #hq-navigation a.gray:hover {
      color: #a7a9ac; }
    #hq-navigation a.red:hover {
      color: #ed1b24; }
    #hq-navigation a.blue:hover {
      color: #216093; }
    #hq-navigation a.brown:hover {
      color: #a77c52; }
    #hq-navigation a.lightblue:hover {
      color: #01aef0; }
    #hq-navigation a.white:hover {
      color: #ffffff; }

#footer {
  background: #0065a4;
  padding: 10px 30px;
  color: #ffffff; }

.pd15 {
  padding: 15px;
  display: block; }

.float-nav {
  width: 100%; }

.social-media {
  margin: 0 -15px; }

h1.page-title {
  font-weight: normal;
  margin-top: 0px;
  font-family: ralewayheavy;
  color: #0065a4;
  font-size: 46px; }

div.date {
  color: #5C8727;
  font-family: ralewayheavy; }

p {
  font-family: ralewayregular; }

.metro {
  color: #ffffff;
  background: #a7a9ac;
  margin-bottom: 30px;
  padding: 30px;
  position: relative; }
  .metro.green {
    background: #799c48; }
  .metro.purple {
    background: #7765a1; }
  .metro.gray {
    background: #a7a9ac; }
  .metro.red {
    background: #ed1b24; }
  .metro.blue {
    background: #216093; }
  .metro.brown {
    background: #a77c52; }
  .metro.lightblue {
    background: #01aef0; }
  .metro.white {
    background: #ffffff; }
  .metro.webcam {
    padding: 0px; }
  .metro h2 {
    margin-top: 0px;
    padding-top: 0px;
    font-weight: normal;
    font-size: 34px;
    font-family: ralewayextralight; }
  .metro p:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px; }
  .metro.html.standard {
    padding: 0px; }
    .metro.html.standard h2 {
      font-family: ralewayheavy;
      color: #0065a4;
      font-size: 46px; }
    .metro.html.standard p {
      color: #a7a9ac;
      line-height: 23px; }
  .metro.update {
    padding: 0px;
    display: block; }
    .metro.update .update-date {
      position: absolute;
      top: 20px;
      left: 20px;
      font-family: ralewayheavy; }
    .metro.update .update-title {
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-size: 27px;
      line-height: 27px;
      font-family: ralewaylight; }
    .metro.update img {
      border: 0px; }
    .metro.update:hover, .metro.update:active, .metro.update:focus {
      color: #ffffff;
      text-decoration: none; }
    .metro.update .overlay {
      background: #0065a4;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 0px;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
      filter: alpha(opacity=60);
      -moz-opacity: 0.6;
      -khtml-opacity: 0.6;
      opacity: 0.6; }
  .metro.link {
    padding: 0px;
    background: #a7a9ac; }
    .metro.link a {
      padding: 15px 30px;
      display: block;
      color: white;
      font-family: ralewayextrabold;
      letter-spacing: 1px; }
      .metro.link a:hover {
        text-decoration: none;
        background: #5C8727; }
  .metro.questionanswer {
    font-family: ralewaylight; }
    .metro.questionanswer .upper {
      font-weight: normal;
      font-family: ralewayheavy;
      font-size: 34px;
      line-height: 38px; }
    .metro.questionanswer .question {
      font-size: 34px;
      line-height: 38px; }
    .metro.questionanswer .answer {
      font-size: 15px;
      display: none; }
      .metro.questionanswer .answer .upper {
        display: block; }
    .metro.questionanswer:hover {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .metro.form {
    padding: 0px; }
    .metro.form form {
      margin-bottom: 0px; }
    .metro.form table {
      width: 100%; }
      .metro.form table label {
        display: none; }
      .metro.form table input[type=text], .metro.form table textarea {
        width: 100%;
        border: solid 3px #a7a9ac;
        color: #a7a9ac;
        font-size: 22px;
        padding: 6px;
        margin-bottom: 30px;
        font-family: ralewaysemibold; }
      .metro.form table input[type=submit] {
        background: #a7a9ac;
        color: #ffffff;
        text-align: center;
        width: 100%;
        border: 0px;
        padding: 10px;
        font-weight: bold; }
        .metro.form table input[type=submit]:hover {
          background: #5C8727;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
  .metro.social {
    width: 50%;
    float: left;
    text-align: center;
    margin: 0 15px 30px;
    width: calc(50% - 30px);
    height: 130px;
    line-height: 84px; }
    .metro.social.twitter {
      background: #01aef0 url(/Content/images/twitter-48x48.png) no-repeat center center; }
    .metro.social.facebook {
      background: #0065a4 url(/Content/images/facebook-48x48.png) no-repeat center center; }
    .metro.social.youtube {
      background: #ed1b24 url(/Content/images/youtube-48x48.png) no-repeat center center; }
    .metro.social.instagram {
      background: #a77c52 url(/Content/images/instagram-48x48.png) no-repeat center center; }
    .metro.social.email {
      background: #a7a9ac url(/Content/images/email-48x48.png) no-repeat center center; }
  .metro.rotator {
    padding: 0px; }
    .metro.rotator .item {
      z-index: 1; }
    .metro.rotator .carousel-caption {
      position: absolute;
      bottom: 0px;
      background: black;
      background: transparent\9;
      background: rgba(0, 0, 0, 0.5);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#66000000);
      zoom: 1;
      padding: 5px 40px;
      margin: 0 auto;
      font-size: 12px;
      left: 0px;
      right: 0px; }
      .metro.rotator .carousel-caption:nth-child(n) {
        filter: none;
        opacity: 1; }
    .metro.rotator .carousel-control {
      width: 25px;
      background: #a7a9ac;
      opacity: 1;
      z-index: 2; }
      .metro.rotator .carousel-control.left {
        background: #a7a9ac url(/Content/HQ/rotator-prev.png) no-repeat center center; }
      .metro.rotator .carousel-control.right {
        background: #a7a9ac url(/Content/HQ/rotator-next.png) no-repeat center center; }
      .metro.rotator .carousel-control:hover {
        background-color: #5C8727; }

.success-form h1 {
  font-family: ralewayheavy;
  color: #a7a9ac; }
.success-form a {
  font-family: ralewayheavy;
  color: #5C8727;
  font-size: 18px; }

@media (min-width: 640px) {
  .metro.social {
    width: 25%;
    width: calc(25% - 30px); }

  .metro.rotator .carousel-control {
    width: 45px; }

  .metro.rotator .carousel-caption {
    padding: 15px 60px; }

  .validation-summary-valid ul {
    margin: 0px; }
 }

@media (min-width: 768px) {
  .metro.social {
    width: 20%;
    width: calc(20% - 30px);
    line-height: 64px; }

  .metro.rotator .carousel-caption {
    font-size: 15px; }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .affix {
    position: fixed;
    margin-top: 30px; }

  .float-nav {
    width: 213px; }

  .logo {
    width: 100%; }

  #hq-navigation {
    display: block; }
    #hq-navigation a {
      padding-right: 30px; }

  .navbar-toggle {
    display: none; }

  h1.page-title {
    font-weight: normal;
    margin-top: 0px;
    font-family: ralewayheavy;
    color: #0065a4;
    font-size: 46px; }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .float-nav {
    width: 263px; }
 }

@media only screen and (max-width: 767px) {
  .fb-comments {
    width: 100% !important; }

  .fb-comments iframe[style] {
    width: 100% !important; }

  .fb-like-box {
    width: 100% !important; }

  .fb-like-box iframe[style] {
    width: 100% !important; }

  .fb-comments span {
    width: 100% !important; }

  .fb-comments iframe span[style] {
    width: 100% !important; }

  .fb-like-box span {
    width: 100% !important; }

  .fb-like-box iframe span[style] {
    width: 100% !important; }
 }

.hq-edit {
  height: 478px !important; }

/*# sourceMappingURL=hq.css.map */