@import "variables";

@each $font-face in ralewaybold, ralewayextrabold, ralewayextralight, ralewayheavy, ralewaylight, ralewaymedium, ralewayregular, ralewaysemibold, ralewaythin {
	@font-face {
		font-family: $font-face;
		src: url('/Content/fonts/#{$font-face}.eot');
		src: url('/Content/fonts/#{$font-face}.eot?#iefix') format('embedded-opentype'),
			 url('/Content/fonts/#{$font-face}.woff') format('woff'),
			 url('/Content/fonts/#{$font-face}.ttf') format('truetype'),
			 url('/Content/fonts/#{$font-face}.svg#ralewaybold') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

@import "_rotator.scss";
body {
	padding: 0 0 30px;
	font-size: 15px;
	color: #333;
	font-family: $ralewayregular;
}

a {
    outline: 0;
    &:focus {
	    outline: 0;
   }
    &:hover {
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

.logo {
	width: 259px;
	height: 68px;
	margin: 30px auto;
	display: block;
	border: 0px;
	cursor: pointer;
}

a.lt-logo {
	width: 215px;
	height: 55px;
	margin: 330px auto 30px;
	display: block;
	border: 0px;
	background: transparent url(/Content/Images/lake-trust-logo-gray.gif) no-repeat top left;
	&:hover {
		background: transparent url(/Content/Images/lake-trust-logo-color.gif) no-repeat top left;
	}
}

.affix {
	position: relative;
}

.navbar-toggle {
	background: $blue;
	margin-right: 0px;
	.icon-bar {
		background: $metrogray;
}
}
.navbar-toggle {
	display: block;
}

#hq-navigation {
	margin-bottom: 30px;
	display: none;
	&.collapsing,
	&.in {
		display: block;
	}
	a {
		display: block;
		font-size: 28px;
		color: $metrogray;
		font-family: $ralewaylight;
		padding-right: 12px;
		&:hover {
			text-decoration: none;
			color: $blue;
		}
		@for $i from 1 through length($colors) {
			$this-color: nth($colors, $i);
			$this-colorValue: nth($colorNames, $i);
			&.#{$this-color}:hover {
				color: $this-colorValue;
			}
		}
	}
}

#footer {
	background: $blue;
	padding: 10px 30px;
	color: $white;
}

.pd15 {
	padding: 15px;
	display: block;
}

.float-nav {
	width: 100%;
}

.social-media {
	margin: 0 -15px;
}
h1.page-title {
	font-weight: normal;
	margin-top: 0px;
	font-family: $ralewayheavy;
	color: $blue;
	font-size: 46px;
}
div.date {
	color: $green;
	font-family: $ralewayheavy;
}
p {
	font-family: $ralewayregular;
}

.metro {
	color: $white;
	background: $metrogray;
	margin-bottom: 30px;
	padding: 30px;
	position: relative;
	@for $i from 1 through length($colors) {
		$this-color: nth($colors, $i);
		$this-colorValue: nth($colorNames, $i);
		&.#{$this-color} {
			background: $this-colorValue;
		}
	}
    &.webcam {
        padding: 0px;
    }
	h2 {
		margin-top: 0px;
		padding-top: 0px;
		font-weight: normal;
		font-size: 34px;
		font-family: $ralewayextralight;
	}
	p:last-child {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	&.html {
		&.standard {
			padding: 0px;
			h2 {
				font-family: $ralewayheavy;
				color: $blue;
				font-size: 46px;
			}
			p {
				color: $metrogray;
				line-height: 23px;
			}
		}
	}
	&.update {
		padding: 0px;
		display: block;
		.update-date {
			position: absolute;
			top: 20px;
			left: 20px;
			font-family: $ralewayheavy;
		}
		.update-title {
			position: absolute;
			bottom: 20px;
			left: 20px;
			font-size: 27px;
			line-height: 27px;
			font-family: $ralewaylight;
		}
		img {
			border: 0px;
		}
		&:hover,
		&:active,
		&:focus {
			color: $white;
			text-decoration: none;
		}
		.overlay {
			background: $blue;
			position: absolute;
			top: 0px;
			width: 100%;
			height: 0px;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
			filter: alpha(opacity=60);
			-moz-opacity: 0.6;
			-khtml-opacity: 0.6;
			opacity: 0.6;
		}
	}
	&.link {
		padding: 0px;
		background: $metrogray;
		a {
			padding: 15px 30px;
			display: block;
			color: white;
			font-family: $ralewayextrabold;
			letter-spacing: 1px;
			&:hover {
				text-decoration: none;
				background: $green;
			}
		}
	}
	&.questionanswer {
		font-family: $ralewaylight;
		.upper {
			font-weight: normal;
			font-family: $ralewayheavy;
			font-size: 34px;
			line-height: 38px;
		}
		.question {
			font-size: 34px;
			line-height: 38px;
		}
		.answer {
			.upper {
				display: block;
			}
			font-size: 15px;
			display: none;
		}
		&:hover {
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
	}
	&.form {
		padding: 0px;
		form {
			margin-bottom: 0px;
		}
		table {
			width: 100%;
			label {
				display: none;
			}
			input[type=text], textarea {
				width: 100%;
				border: solid 3px $metrogray;
				color: $metrogray;
				font-size: 22px;
				padding: 6px;
				margin-bottom: 30px;
				font-family: $ralewaysemibold;
			}
			input[type=submit] {
				background: $metrogray;
				color: $white;
				text-align: center;
				width: 100%;
				border: 0px;
				padding: 10px;
				font-weight: bold;
				&:hover {
					background: $green;
					-webkit-transition: all 0.5s ease;
					-moz-transition: all 0.5s ease;
					-o-transition: all 0.5s ease;
					transition: all 0.5s ease;
				}
			}
		}
	}
	&.social {
		width: 50%;
		float: left;
		text-align: center;
		margin: 0 15px 30px;
		width: calc(50% - 30px);
		height: 130px;
		line-height: 84px;
		&.twitter {
			background: $lightblue url(/Content/images/twitter-48x48.png) no-repeat center center;
		}
		&.facebook {
			background: $blue url(/Content/images/facebook-48x48.png) no-repeat center center;
		}
		&.youtube {
			background: $red url(/Content/images/youtube-48x48.png) no-repeat center center;
		}
		&.instagram {
			background: $brown url(/Content/images/instagram-48x48.png) no-repeat center center;
		}
		&.email {
			background: $metrogray url(/Content/images/email-48x48.png) no-repeat center center;
		}
	}
	&.rotator {
		padding: 0px;
		.item {
			z-index: 1;
		}
		.carousel-caption {
			position: absolute;
			bottom: 0px;
			background:rgb(0,0,0);
			background: transparent\9;
			background:rgba(0,0,0,0.5);
			filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000,endColorstr=#66000000);
			zoom: 1;
			padding: 5px 40px;
			margin: 0 auto;
			font-size: 12px;
			left: 0px;
			right: 0px;
			&:nth-child(n) {
				filter: none;
				opacity: 1.0
			}
		}
		.carousel-control {
			width: 25px;
			background: $metrogray;
			opacity: 1;
			z-index: 2;
			&.left {
				background: $metrogray url(/Content/HQ/rotator-prev.png) no-repeat center center;
			}
			&.right {
				background: $metrogray url(/Content/HQ/rotator-next.png) no-repeat center center;
			}
			&:hover {
				background-color: $green;
			}
		}
	}
}
.success-form {
	h1 {
		font-family: $ralewayheavy;
		color: $metrogray;
	}
	a {
		font-family: $ralewayheavy;
		color: $green;
		font-size: 18px;
	}
}

@media (min-width: 640px) {
	.metro.social {
		width: 25%;
		width: calc(25% - 30px);
	}
    .metro.rotator .carousel-control {
		width: 45px;
	}
	.metro.rotator .carousel-caption {
		padding: 15px 60px;
	}
	.validation-summary-valid ul {
		margin: 0px;
	}
}

@media (min-width: 768px) {
	.metro.social {
		width: 20%;
		width: calc(20% - 30px);
		line-height: 64px;
	}

	.metro.rotator .carousel-caption {
		font-size: 15px;
	}
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.affix {
		position: fixed;
		margin-top: 30px;
	}
	.float-nav {
		width: 213px;
	}
	.logo {
		width: 100%;
	}
	#hq-navigation {
		display: block;
		a {
			padding-right: 30px;
		}
	}
	.navbar-toggle {
		display: none;
	}

	h1.page-title {
		font-weight: normal;
		margin-top: 0px;
		font-family: $ralewayheavy;
		color: $blue;
		font-size: 46px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.float-nav {
		width: 263px;
	}
}
@media only screen and (max-width: 767px) {
    .fb-comments {width: 100% !important;}
    .fb-comments iframe[style] {width: 100% !important;}
    .fb-like-box {width: 100% !important;}
    .fb-like-box iframe[style] {width: 100% !important;}
    .fb-comments span {width: 100% !important;}
    .fb-comments iframe span[style] {width: 100% !important;}
    .fb-like-box span {width: 100% !important;}
    .fb-like-box iframe span[style] {width: 100% !important;} }

.hq-edit {
	height: 478px !important;
 }