@import "variables";
@import "mixins";

@each $font-face in ralewaybold, ralewayextrabold, ralewayextralight, ralewayheavy, ralewaylight, ralewaymedium, ralewayregular, ralewaysemibold, ralewaythin {
    @font-face {
        font-family: $font-face;
        src: url('/Content/fonts/#{$font-face}.eot');
        src: url('/Content/fonts/#{$font-face}.eot?#iefix') format('embedded-opentype'), url('/Content/fonts/#{$font-face}.woff') format('woff'), url('/Content/fonts/#{$font-face}.ttf') format('truetype'), url('/Content/fonts/#{$font-face}.svg#ralewaybold') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

body {
    background: white url(#{$imagePath}page-bkg.jpg) repeat-x top left;
    font-family: Verdana;
    font-size: 12px;
    line-height: 16px;
    color: #6e6e6e;
}

.sr-only {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.content-container {
    width: 940px;
    margin: 0 auto;
    padding: 0px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 13px;
}

h6.smallprint {
    font-weight: normal;
    font-weight: normal;
    line-height: 20px;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}

.blue {
    color: $blue;
}

.top-content-area {
    padding-bottom: 20px;
}

#PageUtils {
    margin-bottom: 20px;
}

.page-header {
    margin: 0px;
    border-bottom: 0px;

    h1 {
        font-size: 32px;
        line-height: 32px;
        color: $green;
        font-weight: 300;
        font-family: $ralewaysemibold;
        margin-top: 0px;
    }
}

h2.section-title {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 20px;
    padding: 0px;
    color: $green;
    font-weight: 300;
    font-family: $ralewaylight;
}

a {
    color: #11568b;

    &:hover {
        color: #8ccefe;
    }
}

.skip {
    display: none;
}

.pos {
    position: relative;
}

.mt0 {
    margin-top: 0px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 10px;
}

.hide {
    display: none;
}

input {
    behavior: url(/Scripts/PIE/PIE.htc);
}

.rounded {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#LakeTrustPage li {
    line-height: 20px;
}

.btn-primary {
    @include gradient(#98bb64, #7c9d4a);
    @include box-shadow(0px, 3px, 5px, rgba(75, 75, 75, 0.75));
    border-color: #7C9952;
    text-transform: uppercase;
    font-family: Verdana;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: normal;

    &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
        @include gradient(#7c9d4a, #98bb64);
        border-color: #7c9d4a;
    }
}

.small {
    font-size: 9px;
    font-family: Arial;
}

.tab-content {
    padding: 0 0 12px;
}

.large {
    font-size: 15px !important;
    line-height: 17px !important;
}

.xlarge {
    font-size: 18px !important;
    line-height: 22px !important;
}

.btn-large {
    font-size: 13px;
    font-weight: bold;
}

.btn-small {
    text-transform: uppercase;
    font-family: $ralewaymedium;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 10px;
    display: block;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -1px;
    behavior: url(/Scripts/PIE/PIE.htc);
}

.btn-blue {
    @include gradient(#128bd7, #0167a7);
    border-color: #005386 !important;

    &:hover {
        @include gradient(#0167a7, #128bd7);
    }
}

.btn-mini {
    font-size: 10px;
}

table.table {
    th {
        background: #e9f2de;
    }

    &.blue th {
        background: #a6d1f0;
        color: #fff;
    }

    caption {
        text-align: left;
        font-weight: normal;
        padding-bottom: 3px;
        text-transform: capitalize;
        font-size: 15px;
    }
}

.left-col {
    padding-top: 25px;
}

.navbar {
    .navbar-inner {
        border: 0px;
        background-color: #e4e4e4;
        padding-left: 10px;
        padding-right: 10px;

        ul li a {
            font-weight: bold;
        }
    }

    .nav > .active > a {
        color: #11568b;

        &:hover, &:focus {
            color: #11568b;
        }
    }
}

#header {
    padding-top: 30px;

    .brand {
        background: transparent url(#{$imagePath}logo.png) no-repeat top left;
        width: 227px;
        height: 50px;
        display: block;
        text-indent: -9999px;
        overflow: hidden;
        margin: 0 auto 20px;
    }

    .quicklinks {
        color: $gray;
        font-weight: bold;
        display: inline-block;
        padding: 10px 0 20px;
    }

    .mycreditcard {
        color: #6e6e6e;
        font-size: 11px;
        font-weight: bold;
        margin-bottom: 8px;
    }

    .search-box {
        margin-bottom: 20px;
    }

    .main-navigation-bkg {
        background: $blue;
        @include borderRadius(6px);

        .mobile-main-nav {
            a {
                color: $white;
                display: block;
                font-family: $ralewaylight;
                font-size: 17px;
                padding: 6px;
                text-transform: uppercase;
            }
        }
    }

    #MobileMainNavDropdown li {
        &:first-child {
            margin-top: 10px;
        }

        a {
            color: $gray;
            font-weight: bold;
            background: $lightgray;
            font-family: $ralewaylight;
            font-size: 12px;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .breadcrumb {
        margin: 8px 0;

        > li + li:before {
            color: #CCCCCC !important;
        }

        li {
            margin: 6px 0;
        }

        a {
            font-family: $ralewaymedium;
            font-size: 13px;
            font-weight: 500;
            color: $blue;
            padding: 3px 0;
            text-transform: uppercase;
        }
    }
}

#footer {
    padding: 40px 0 0;
    background: url(/Content/Images/footer-bkg.png) no-repeat top center transparent;

    .nav-stacked {
        margin-bottom: 20px;

        a {
            color: $gray;
            background: $lightgray;
            font-family: $ralewaymedium;
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;

            &:hover {
                color: $blue;
            }
        }
    }

    .social-nav {
        margin: 0 auto 20px;
        // width: 224px;
        li {

            &:first-child {
                margin-left: 0px;
            }

            a {
                padding: 0;
                text-align: center;

                &:hover {
                    background: transparent;
                }
            }
        }
    }
}

#MobileLoginDropdown {
    padding-top: 10px;

    .login-container {
        background: #e4e4e4;
        @include borderRadius(4px);
    }
}

.login-container {
    padding: 10px !important;

    .title {
        color: $green;
        font-weight: bold;
        padding: 6px 0 11px 0;
        font-family: Verdana;
        font-size: 12px;
    }

    hr {
        margin: 15px 0 10px;
        border-top-color: #6c6c6c;
    }

    p {
        margin-bottom: 3px;
        font-size: 11px;
    }

    form#Login,
    form#LoginMobile {
        input[type=text],
        input[type=password] {
            width: 100%;
            @include borderRadius(4px);
            box-shadow: none;
            border: solid 1px #a7a9ab;
            padding: 6px 0px 6px 10px;
            font-weight: bold;
            font-size: 15px;
        }

        button {
            width: 100%;
            font-family: $ralewaymedium;
            font-size: 15px;

            span {
                width: 12px;
                height: 12px;
                display: inline-block;
                background: url(#{$imagePath}login-lock.png) no-repeat center center;
            }
        }

        .form-group {
            margin-bottom: 11px;
        }
    }

    form#LoginMobile {
        max-width: 240px;
    }
}


/*Main Navigation*/
#main-menu {
    margin-bottom: 20px;
    position: relative;
    z-index: 3000;

    #menu {
        z-index: 1000;
        position: relative;
        list-style: none;
        margin: 0 auto;
        height: 44px;
        padding: 0px 10px;
        /* Rounded Corners */
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        /* Background color and gradients */
        behavior: url(/Scripts/PIE/PIE.htc);
        background: $blue;

        li {
            float: left;
            display: block;
            text-align: center;
            position: relative;
            padding: 4px 10px 4px 10px;
            margin-right: 20px;
            margin-top: 10px;
            border: none;

            &:hover,
            &.login-active,
            &.on {
                border: 1px solid #777777;
                padding: 4px 9px 4px 9px;
                background: #F4F4F4;
                background: -moz-linear-gradient(top, #f4f4f4, #f4f4f4);
                background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#f4f4f4));
                /* Rounded corners */
                @include borderRadius(5px 5px 0px 0px);
                behavior: url(/Scripts/PIE/PIE.htc);
            }

            a {
                font-family: Verdana;
                color: #fff;
                text-transform: uppercase;
                font-size: 24px;
                display: block;
                outline: 0;
                text-decoration: none;
                font-weight: bold;

                &.level-one {
                    font-family: $ralewaylight;
                    font-weight: 300;
                    font-size: 18px;
                }
            }

            &.online-login {
                &:hover > a.level-one,
                &.on > a.level-one,
                &.login-active > a.level-one {
                    color: $blue;

                    span {
                        background: url(#{$imagePath}login-lock-over.png) no-repeat center center;
                    }
                }

                > a {
                    span {
                        width: 12px;
                        height: 12px;
                        display: inline-block;
                        background: url(#{$imagePath}login-lock.png) no-repeat center center;
                    }
                }
            }

            &:hover a.level-one {
                color: #6E6E6E;
                font-family: $ralewaylight;
                font-weight: 300;
                font-size: 18px;

                i {
                    &.icon-chevron-right.icon-white {
                        background-position: -313px -119px;
                        background-image: url("#{$imagePath}glyphicons-halflings.png");
                    }
                }
            }
        }

        .menu_right {
            @include borderRadius(5px);
            float: right;
            margin-right: 0px;
            margin-top: 10px;
            color: #ffffff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            text-transform: uppercase;
            background-color: #98bb64;
            *background-color: #98bb64;
            background-image: -moz-linear-gradient(top, #98bb64, #7c9d4a);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#98bb64), to(#7c9d4a));
            background-image: -webkit-linear-gradient(top, #98bb64, #7c9d4a);
            background-image: -o-linear-gradient(top, #98bb64, #7c9d4a);
            background-image: linear-gradient(to bottom, #98bb64, #7c9d4a);
            background-repeat: repeat-x;
            border-color: #7c9952 #7c9952 #7c9952;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98bb64', endColorstr='#7c9d4a', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            -webkit-box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
            -moz-box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
            box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
            behavior: url(/Scripts/PIE/PIE.htc);

            &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
                @include borderRadius(5px);
                margin-right: 0px;
                margin-top: 10px;
                color: #ffffff;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                text-transform: uppercase;
                background-color: #98bb64;
                *background-color: #98bb64;
                background-image: -moz-linear-gradient(top, #98bb64, #7c9d4a);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#98bb64), to(#7c9d4a));
                background-image: -webkit-linear-gradient(top, #98bb64, #7c9d4a);
                background-image: -o-linear-gradient(top, #98bb64, #7c9d4a);
                background-image: linear-gradient(to bottom, #98bb64, #7c9d4a);
                background-repeat: repeat-x;
                border-color: #7c9952 #7c9952 #7c9952;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98bb64', endColorstr='#7c9d4a', GradientType=0);
                filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
                -webkit-box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
                -moz-box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
                box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
                behavior: url(/Scripts/PIE/PIE.htc);
                border: 0px;
                font-size: 16px;
                padding: 4px 10px 4px 10px;

                a {
                    color: #ffffff !important;
                    text-decoration: underline;
                }
            }

            &:active, &.active {
                background-color: #7c9d4a \9;
            }
        }

        li {
            .align_right {
                @include borderRadius(5px 0px 5px 5px);
            }

            &:hover .align_right {
                left: auto;
                right: -1px;
                top: auto;
            }
        }

        p, h2, h3, ul li {
            line-height: 21px;
            font-size: 12px;
            text-align: left;
        }

        h2 {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: -1px;
            margin: 7px 0 14px 0;
            padding-bottom: 14px;
            border-bottom: 1px solid #666666;
        }

        li div {
            h3 {
                margin-bottom: 0px;

                a {
                    color: #6e6e6e;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin: 7px 0px 0px;
                    font-family: $ralewaylight;
                }
            }

            a {
                color: #6e6e6e;
                font-size: 11px;
                text-transform: capitalize;
                font-weight: normal;
            }
        }

        p {
            line-height: 18px;
            margin: 0 0 10px 0;
        }

        li {
            &:hover div a {
                font-size: 11px;

                &:hover {
                    color: #029feb;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0 0 4px 0;

                li {
                    font-size: 12px;
                    line-height: 24px;
                    position: relative;
                    padding: 0;
                    margin: 0;
                    float: none;
                    text-align: left;

                    &:hover {
                        background: none;
                        border: none;
                        padding: 0;
                        margin: 0;
                    }
                }
            }

            &.open {
                border: 1px solid #777777;
                padding: 4px 9px 4px 9px;
                /* Background color and gradients */
                @include gradient(#f4f4f4, #eeeeee);
                background: #F4F4F4;
                @include borderRadius(5px 5px 0px 0px);

                a {
                    color: #161616;
                }

                .dropdown_login {
                    left: auto;
                    right: -1px;
                    top: auto;
                }
            }
        }
    }

    .dropdown_1columns, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns, .dropdown_login {
        margin: 4px auto;
        float: left;
        position: absolute;
        left: -999em;
        /* Hides the drop down */
        text-align: left;
        padding: 10px 5px 10px 5px;
        border: 1px solid #777777;
        border-top: none;
        /* Gradient background */
        background: #F4F4F4;
        @include gradient(#f4f4f4, #eeeeee);
        behavior: url(/Scripts/PIE/PIE.htc);
        /* Rounded Corners */
        @include borderRadius(0px 5px 5px 5px);
        z-index: 9999;
    }

    .dropdown_1columns {
        width: 230px;
    }

    .dropdown_2columns {
        width: 470px;
    }

    .dropdown_3columns {
        width: 690px;
    }

    .dropdown_4columns {
        width: 910px;
    }

    .dropdown_login {
        width: 290px;
    }

    #menu li.hoverable:hover,
    #menu li.online-login.on,
    #menu li.online-login.login-active {
        .dropdown_1columns, .dropdown_2columns, .dropdown_3columns, .dropdown_4columns, .dropdown_5columns {
            left: -1px;
            top: auto;
        }
    }
}

/* Page Content*/
.breadcrumb {
    background-color: transparent;
    padding: 0px;
    margin: 0;

    > li + li:before {
        color: $blue;
        content: "| ";
        padding: 0 5px;
    }
}

#page-content {
    padding-bottom: 20px;

    #middle-column {
        width: 220px;
        float: left;
        margin: 0 20px;
    }

    .start {
        &.four-columns {
            #one-column,
            #two-column,
            #three-column,
            #four-column {
                float: left;
                width: 220px;
                margin-right: 20px;

                &.last {
                    margin-right: 0px;
                }
            }
        }
    }

    .top-header {
        margin-top: 20px;
    }
}

.has-right-column {
    .body-column {
        width: 460px;
        float: left;
    }

    .right-column {
        width: 220px;
        margin-left: 20px;
        float: left;
    }
}

.blog,
.blogcontainer,
.blogpost #page-content #main-column .media {
    img.pull-left {
        max-width: 80px;
    }

    ul.list-inline li:first-child {
        padding-left: 0px;
    }
}

.footer-icons img {
    margin-right: 40px;
}

#PageUtils {
    #breadcrumb {
        float: left;
    }

    .utilities-menu {
        margin-bottom: 0px;

        .btn-group {
            float: right;
        }
    }
}

.btn-toolbar.utilities-menu {
    margin-top: 0px;

    a {
        display: inline-block;
        padding: 0 6px;
        margin: 1px;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px;
        background-color: transparent;
        border: 1px solid #FFFFFF;
        color: $green;

        &:hover {
            border-color: $green;
            background: #d3e5bd;
        }
    }
}

/* Page Widget*/
.page-widget {
    margin-bottom: 20px;

    &.sb {
        border: solid 1px #bfbfbf;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        behavior: url(/Scripts/PIE/PIE.htc);
    }

    &.wb {
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(204, 204, 204) 100%);
        background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(204, 204, 204) 100%);
        background: -o-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(204, 204, 204) 100%);
        background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(204, 204, 204) 100%);
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(204, 204, 204) 100%);
        -pie-background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(204, 204, 204)); /*ie 6-9 via PIE*/
        behavior: url(/Scripts/PIE/PIE.htc);
    }

    .widget-inner:empty {
        display: none;
    }

    &.sb .widget-inner,
    &.wb .widget-inner {
        margin: 0 18px;
        padding: 18px 0;
    }

    h4 {
        font-size: 18px;
        color: $green;
    }
}

.page-widget, .widget {
    h2, h3, h4, h5, h6 {
        color: $green;
        font-family: $ralewaymedium;
        font-size: 16px;
        text-transform: uppercase;
    }

    &.sb, &.wb {
        h2, h3, h4, h5, h6 {
            margin: 18px 18px 0;
        }
    }
}

/* Widget */
@include widget-title-blockHTag(#266294, #266294, ht-blue);
@include widget-title-blockHTag(#7a9d4b, #7a9d4b, ht-green);
@include widget-title-blockHTag(#a7a9ac, #a7a9ac, ht-grey);
@include widget-title-blockHTag(#8d542e, #8d542e, ht-brown);
@include widget-title-blockHTag(#7765a1, #7765a1, ht-purple);
@include widget-title-blockHTag(#90b7e1, #90b7e1, ht-lightblue);
@include widget-title-blockHTag(#ffc60b, #ffc60b, ht-orange);
@include widget-title-blockHTag(#c3dd89, #c3dd89, ht-lightgreen);
@include widget-title-blockHTag(#b984ba, #b984ba, ht-lightpurple);

.widget {
    margin-bottom: 20px;

    &.sb {
        border: solid 1px #bfbfbf;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    &.wb {
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(204, 204, 204) 100%);
        background: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(204, 204, 204) 100%);
        background: -o-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(204, 204, 204) 100%);
        background: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(204, 204, 204) 100%);
        background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(204, 204, 204) 100%);
        -pie-background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(204, 204, 204)); /*ie 6-9 via PIE*/
        behavior: url(/Scripts/PIE/PIE.htc);
    }

    .widget-inner {
        margin: 0 18px;
        padding: 18px 0;

        h3:first-child {
            margin-top: 0px;
        }

        p:last-child {
            margin-bottom: 0px;
        }

        &:empty {
            display: none;
        }
    }

    p {
        font-size: 13px;
        line-height: 17px;
        font-style: italic;
        color: #000000;
        font-family: "Georgia";
    }

    .btn {
        font-style: normal;
    }

    .widget-wrap {
        background-color: transparent;
        background-repeat: no-repeat;
    }

    &.tl .widget-wrap {
        background-position: top left;
    }

    &.tc .widget-wrap {
        background-position: top center;
    }

    &.tr .widget-wrap {
        background-position: top right;
    }

    &.cl .widget-wrap {
        background-position: center left;
    }

    &.cc .widget-wrap {
        background-position: center center;
    }

    &.cr .widget-wrap {
        background-position: center right;
    }

    &.bl .widget-wrap {
        background-position: bottom left;
    }

    &.bc .widget-wrap {
        background-position: bottom center;
    }

    &.br .widget-wrap {
        background-position: bottom right;
    }
}

.large .widget {
    a.btn, p {
        font-size: 15px;
    }
}

.xlarge .widget {
    a.btn, p {
        font-size: 18px;
    }
}

.span3.left-col .child-links ul > li > a {
    position: relative;
    display: block;

    i {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

#CalculateRewards {
    h4.rewards-title {
        color: #ffffff;
        padding: 10px;
        font-weight: normal;

        &.services {
            background: #b883ba;
        }

        &.moreservices {
            background: #8fb7e1;
        }

        &.questions {
            background: #a7a9ab;
        }

        &.results {
            background: $green;
        }

        &.no-rewards {
            background: $blue;
        }
    }

    .questions {
        .question-item {
            display: block;
            border-bottom: solid 1px #cccccc;
            padding: 7px;
            color: #666666;
            font-size: 16px;
            font-weight: normal;

            div {
                &.reward-check {
                    width: 30px;
                    text-align: center;
                    float: left;

                    input[type='checkbox'] {
                        margin: 0px;
                        border: solid 1px #cccccc;
                    }
                }

                &.reward-question {
                    float: left;
                    width: calc(100% - 60px);

                    em {
                        font-size: 12px;
                    }
                }

                &.reward-link {
                    width: 30px;
                    float: right;

                    a {
                        border: solid 1px #cccccc;
                        color: #cccccc;
                        width: 20px;
                        height: 20px;
                        display: block;
                        text-align: center;
                        line-height: 14px;

                        span {
                            font-size: 12px;
                        }
                    }
                }
            }

            &:last-child {
                border-bottom: 0px;
            }
        }

        &.questions-container {
            .reward-question {
                font-weight: bold;

                em {
                    font-weight: normal;
                }
            }
        }
    }

    #CalculateResults {
        position: relative;

        #TotalRefund,
        #Refunds {
            font-size: 46px;
            line-height: 46px;
            color: $blue;
            font-family: $ralewaybold;
            border: solid 1px #ccc;
            padding: 6px;
            text-transform: uppercase;
            text-align: center;
            z-index: 1;
            margin-bottom: 15px;
        }

        #Refunds {
            font-size: 21px;
            line-height: 45px;
        }

        .plus {
            position: absolute;
            top: calc(50% - 22px);
            left: calc(50% - 16px);
            height: 31px;
            width: 31px;
            display: block;
            text-align: center;
            line-height: 27px;
            background: $white;
            border: solid 1px #ccc;
            color: #ccc;
            font-size: 18px;
            font-weight: bold;
            z-index: 3;
        }
    }
}

.search-results li {
    border-bottom: solid 1px #e4e4e4;
    margin-bottom: 20px;
    padding-bottom: 20px;

    p {
        margin-bottom: 0px;
    }

    h2 {
        margin: 0 0 3px;

        a {
            font-weight: bold;
            color: $green;
        }
    }
}

/*Filter Bar*/
.navbar.filterbar {
    .navbar-inner {
        background: #e4e4e4;
        min-height: inherit;
        -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
        -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.065);
    }

    .nav {
        > li > a {
            padding: 6px;
            text-shadow: 0 0px 0 #ffffff;
        }

        > .active > a {
            -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
            -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
            behavior: url(/Scripts/PIE/PIE.htc);

            &:hover, &:focus {
                -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
                -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
                box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
                behavior: url(/Scripts/PIE/PIE.htc);
            }
        }
    }
}

.nav-tabs.filterbar {
    background: $blue;
    @include borderRadius(8px);
    behavior: url(/Scripts/PIE/PIE.htc);

    > li {
        margin-left: 10px;

        > a {
            padding: 6px;
            border: 0px;
            color: #fff;
            font-size: 17px;
            line-height: 17px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: $ralewaylight;
            letter-spacing: 2px;
            margin: 10px 0;
            @include borderRadius(6px);

            &:hover {
                color: #ffffff;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
                background-color: #98bb64;
                *background-color: #98bb64;
                background-image: -moz-linear-gradient(top, #98bb64, #7c9d4a);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#98bb64), to(#7c9d4a));
                background-image: -webkit-linear-gradient(top, #98bb64, #7c9d4a);
                background-image: -o-linear-gradient(top, #98bb64, #7c9d4a);
                background-image: linear-gradient(to bottom, #98bb64, #7c9d4a);
                background-repeat: repeat-x;
                border-color: #7c9952 #7c9952 #7c9952;
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98bb64', endColorstr='#7c9d4a', GradientType=0);
                filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
                -webkit-box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
                -moz-box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
                box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
                behavior: url(/Scripts/PIE/PIE.htc);
                border: 0px;
            }
        }

        &.active a {
            color: #ffffff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
            background-color: #98bb64;
            *background-color: #98bb64;
            background-image: -moz-linear-gradient(top, #98bb64, #7c9d4a);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#98bb64), to(#7c9d4a));
            background-image: -webkit-linear-gradient(top, #98bb64, #7c9d4a);
            background-image: -o-linear-gradient(top, #98bb64, #7c9d4a);
            background-image: linear-gradient(to bottom, #98bb64, #7c9d4a);
            background-repeat: repeat-x;
            border-color: #7c9952 #7c9952 #7c9952;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98bb64', endColorstr='#7c9d4a', GradientType=0);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            -webkit-box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
            -moz-box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
            box-shadow: 0px 3px 5px rgba(75, 75, 75, 0.75);
            behavior: url(/Scripts/PIE/PIE.htc);
            border: 0px;
        }
    }
}

/*News List*/
.small-newslist li, .blog-list li {
    padding-top: 20px;
    margin-bottom: 0px;
    font-family: "Verdana";

    &:first-child {
        padding-top: 0px;
    }

    h3 {
        font-size: 16px;
        color: $green;
        line-height: 18px;
        margin: 0 0 3px;
        text-transform: uppercase;
        font-family: $ralewayregular;

        a {
            font-size: 15px;
            color: $blue;
            line-height: 17px;
            margin-bottom: 3px;
        }
    }

    a.read-more {
        color: $green;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $ralewaysemibold;
    }

    small {
        display: block;
        font-size: 13px;
        color: #999999;
        font-style: italic;
    }

    ul.inline {
        margin-left: 0px;

        li {
            border-bottom: 0px;
            padding: 0 0 10px 0;
            margin: 0 10px 0 0;
        }
    }

    .blog-tags {
        padding-top: 6px;
    }
}

.PagingContainer {
    overflow: hidden;
    padding-top: 10px;

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        li {
            float: left;
            margin-left: 3px;

            a {
                display: block;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                border: solid 1px $lightgray;
                text-decoration: none;
                @include borderRadius(4px);

                &:hover {
                    background: $blue;
                    color: #fff;
                }
            }
        }
    }

    &:before {
        display: table;
        line-height: 0;
        content: "";
    }

    &:after {
        display: table;
        line-height: 0;
        content: "";
        clear: both;
    }
}

/* SiteMap Page*/
.sitemappage #pagecontentbody h2:first-child {
    margin: 0px;
}

.site-map {
    h3:first-child {
        margin: 0px;
        margin: 0px;
    }

    ul {
        ul {
            margin-left: 12px;
            list-style-type: none;
        }

        li a {
            color: #6E6E6E;
        }

        ul li a {
            font-size: 11px;
        }
    }
}

.widget-inner {
    .popular-post {
        h4 {
            font-size: 13px;
            line-height: 16px;
            margin: 0 0 8px;
        }

        small {
            display: block;
            padding-bottom: 8px;
        }

        .post-desc {
            margin-bottom: 15px;
        }

        &:last-child {
            h4 {
                margin: 0px;
            }
        }
    }
}
/* Child List*/
.child-links, .related-links {
    h3 {
        line-height: normal;
    }

    ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;

        li {
            border-bottom: solid 1px #acacac;
            padding: 6px 0;

            a {
                font-size: 13px;
                font-family: $ralewaybold;
                text-transform: uppercase;
            }

            span {
                background: #e0eaf0;
                display: block;
                margin-left: -8px;
                padding-left: 8px;
                color: #333333;
                font-family: $ralewayregular;
                font-size: 12px;
                text-transform: uppercase;
            }

            ul {
                margin-left: 8px;

                li {
                    border-bottom: 0px;
                    padding: 1px 0;

                    a {
                        color: #333333;
                        font-family: $ralewayregular;
                        font-size: 12px;
                    }
                }
            }

            &:last-child {
                border-bottom: 0px;
            }
        }
    }

    .nav > li > a {
        padding: 0px;
    }
}

.media {
    padding-bottom: 20px;

    .cal-wrapper {
        background: #527dad;
        color: #fff;
        margin-right: 20px;
        font-size: 10px;
        font-family: Verdana;
        font-weight: bold;
        text-transform: uppercase;
        @include borderRadius(4px);
        behavior: url(/Scripts/PIE/PIE.htc);

        .day {
            display: block;
            text-align: center;
        }

        .month {
            display: block;
            text-align: center;
            background: #11568b;
            padding: 3px 16px;
            -webkit-border-top-left-radius: 4px;
            -webkit-border-top-right-radius: 4px;
            -moz-border-radius-topleft: 4px;
            -moz-border-radius-topright: 4px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            behavior: url(/Scripts/PIE/PIE.htc);
        }

        .day {
            font-size: 15px;
            padding: 3px 16px 6px;
        }
    }

    .media-body {
        overflow: hidden;

        h3 {
            font-size: 15px;
            line-height: 17px;
            margin-bottom: 3px;
            margin-top: 0px;

            a {
                color: $green;
                font-size: 15px;
                line-height: 17px;
                margin-bottom: 3px;
            }
        }

        .list-inline {
            margin-left: 0px;
        }
    }

    &.class {
        h3 a {
            color: #0065a4;
        }

        small {
            color: #527ead;
            font-size: 11px;
        }
    }
}

.datetime {
    font-weight: bold;
}

.xform {
    label {
        font-weight: normal;
        font-size: 14px;
    }

    input {
        &[type="text"], &[type="password"], &[type="datetime"], &[type="datetime-local"], &[type="date"], &[type="month"], &[type="time"], &[type="week"], &[type="number"], &[type="email"], &[type="url"], &[type="search"], &[type="tel"], &[type="color"] {
            display: block;
            padding: 4px 6px;
            margin-bottom: 10px;
            font-size: 14px;
            height: 30px;
            line-height: 20px;
            color: #555555;
            vertical-align: middle;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            background-color: $white;
            border: 1px solid #CCCCCC;
            width: 206px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
            transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        }

        &[type="submit"] {
            color: #000000;
        }
    }

    textarea, select {
        display: block;
        padding: 4px 6px;
        margin-bottom: 10px;
        font-size: 14px;
        height: 30px;
        line-height: 20px;
        color: #555555;
        vertical-align: middle;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: $white;
        border: 1px solid #CCCCCC;
        width: 206px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    }

    textarea[rows="5"], .uneditable-textarea[rows="5"] {
        height: 120px;
    }
}

#epi-quickNavigator {
    position: fixed !important;
}

body.landing {
    #header #navigation {
        width: 680px;

        a.landing-link {
            color: $green;
        }
    }
}

.question {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 3px;
    width: 100%;
    padding-bottom: 6px;
}

.legend,
.question {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

@import "_rotator.scss";
//@import "_mobile.scss";

@media (min-width: 768px) {
    #right-column .twitter-feed {
        a.btn-primary {
            display: block;
            margin-bottom: 10px;
        }
    }

    #MobileLoginDropdown {
        display: none;
    }


    #footer {
        .nav-stacked {
            margin: 12px 0px 0;

            > li {
                display: inline-block;

                a {
                    background: transparent;
                    display: inline;
                    padding: 10px;
                }

                + li:before {
                    color: #CCCCCC !important;
                    content: "| ";
                    padding: 0 5px;
                }

                &:first-child a {
                    padding-left: 0px;
                }
            }
        }

        .social-nav {
            float: right;
            margin-bottom: 0px;
        }
    }
}

@media (min-width: 940px) {
    #header .search-box {
        margin-bottom: 0px;
        margin-top: 3px;
    }

    #right-column .twitter-feed {
        a.btn-primary {
            display: inline-block;
            margin-bottom: 0;

            &.first {
                margin-right: 6px;
            }
        }
    }

    #footer .nav-stacked a {
        font-size: 13px;
    }
}

@media print {
    #epi-quickNavigator {
        display: none !important;
    }

    #main-column [class*="col-"] {
        width: 100% !important;

        .sb {
            border: 0px !important;
        }

        .wb {
            background: none !important;
        }
    }
}
