﻿@model IEnumerable<CalendarEventPage>
@using LakeTrust.Business
@if (Model.Count() > 0)
{
    <h2>Upcoming Classes</h2>
    foreach (CalendarEventPage calendarItem in Model)
    {
        <div class="media class">
            <div class="pull-left">
                <div class="cal-wrapper">
                    <span class="month">@calendarItem.EventDateTime.ToString("MMM")</span>
                    <span class="day">@calendarItem.EventDateTime.ToString("dd")</span>
                </div>
            </div>
            <div class="media-body">
                <h3>@Html.PageLink(calendarItem)</h3>
                <small>
                    @calendarItem.EventDateTime.ToString("MMMM dd, yyyy")
                    @if (calendarItem.HasEndDate)
                    {
                        <text>to </text> @calendarItem.EventEndDateTime.ToString("MMMM dd, yyyy")
                    }
                    @if (!string.IsNullOrWhiteSpace(calendarItem.EventStartTime))
                    {
                        @Html.Raw("&nbsp;&#149;&nbsp;&nbsp;")
                        @calendarItem.EventStartTime
                    }
                </small>
                @if (!string.IsNullOrWhiteSpace(calendarItem.EventLocation))
                {
                    <div style="padding-bottom: 8px;">
                        <small>@Html.Raw(calendarItem.EventLocation)</small>
                    </div>
                }
                <p>@Html.Raw(calendarItem.Teaser)</p>
                @if (calendarItem.ClassInfoUrl != null || calendarItem.SignUpUrl != null)
                {
                    <div class="padding-bttom: 12px;">
                        @if (calendarItem.SignUpUrl != null)
                        {
                            <a href="@Url.ContentUrl(calendarItem.SignUpUrl)" class="btn btn-primary btn-small pull-left" style="margin: 0 12px 10px 0;">Sign Up For Class</a>
                        }
                        @if (calendarItem.ClassInfoUrl != null)
                        {
                            <a href="@Url.ContentUrl(calendarItem.ClassInfoUrl)" class="btn btn-primary btn-small btn-blue pull-left">See Class Info <span class="glyphicon glyphicon-play"></span></a>
                        }
                        <div class="clearfix"></div>
                    </div>
                }
            </div>
        </div>
    }
}