﻿@model LakeTrust.Models.Pages.HQ.HQUpdatePage
    <a href="@Url.ContentUrl(Model.ContentLink)" class="metro update">
        @if (Model.IsNavigationPoint)
        {
            <div id="@((Model as IContent).Name.ToLowerInvariant().Replace(" ", "-"))"></div>
        }
        <img src="@Url.ContentUrl(Model.Image)" class="img-responsive" />
        <div class="overlay"></div>
        <div class="update-date">@Model.StartPublish.ToString("MMM dd, yyyy")</div>
        <div class="update-title">@Model.Title</div>
    </a>