﻿@model LakeTrust.Models.Pages.SlideItem
<li>
    @if (Model.SlideLink != null && Model.SlideLink != PageReference.EmptyReference)
    {
        <div onclick="location.href='@Url.ContentUrl(Model.SlideLink)'" style="cursor: pointer;">
            @Html.PropertyFor(m => m.SlideImage, new { altText = Model.SlideAltText })
            <div class="@(Model.AlignRight ? "slide-header caption-right" :"slide-header")">
                @if (!string.IsNullOrWhiteSpace(Model.SlideTitle))
                {
                    <h1>@Model.SlideTitle</h1>
                }
                <small>@Model.SlideSubTitle</small>
                @if (!string.IsNullOrWhiteSpace(Model.SlideButtonText))
                {
                    <a class="btn btn-primary" href="@Url.ContentUrl(Model.SlideLink)" title="@Model.SlideButtonText">
                        @Model.SlideButtonText <b class="icon-play icon-white"></b>
                    </a>
                }
            </div>
        </div>
    }
    else
    {
        <div>
            @Html.PropertyFor(m => m.SlideImage, new { altText = Model.SlideAltText })
            <div class="@(Model.AlignRight ? "slide-header caption-right" :"slide-header")">
                @if (!string.IsNullOrWhiteSpace(Model.SlideTitle))
                {
                    <h1>@Model.SlideTitle</h1>
                }
                <small>@Model.SlideSubTitle</small>
                @if (!string.IsNullOrWhiteSpace(Model.SlideButtonText))
                {
                    <a class="btn btn-primary" href="@Url.ContentUrl(Model.SlideLink)" title="@Model.SlideButtonText">
                        @Model.SlideButtonText <b class="icon-play icon-white"></b>
                    </a>
                }
            </div>
        </div>
    }
</li>