﻿@model IPageViewModel<LakeTrustBaseModel>
@{
    Layout = "~/Views/Shared/Layouts/_Site.cshtml";
}
@section Header{
    @RenderSection("Header", false)
}
<div class="row">
    <div class="col-xs-12 col-sm-9" id="main-column">
        @RenderBody()
    </div>
    <div class="col-xs-12 col-sm-3" id="right-column">
        @Html.Action("BlogCategories", "BlogPage", new { blogPage = Model.CurrentPage })
        @Html.Action("PopularBlogPosts", "BlogPage", new { blogPage = Model.CurrentPage })
        @Html.Action("TwitterFeed", "BlogPage")
        @RenderSection("RightColumn", false)
    </div>
</div>
@section FooterScripts{
    @RenderSection("FooterScripts", false)
}