﻿@using System.Web.Optimization
@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Web.Mvc.Html

<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Lake Trust Credit Union HQ</title>
    @Scripts.Render("~/Scripts/Modernizr")
    @Styles.Render("~/Content/LakeTrustHQ")
    <!--[if lte IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Html.RequiredClientResources("Header")
</head>
<body>
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()
    <div id="LakeTrustHqPage" class="container">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-md-offset-3">
                <div id="footer">
                    &copy; Copyright @DateTime.Now.Year. All Rights Reserved.  Lake Trust Credit Union.
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/LakeTrustHQ")
    @RenderSection("FooterScripts", false)
    @Html.RequiredClientResources("Footer")
</body>
</html>