﻿@model IPageViewModel<LakeTrustBaseModel>
@using System.Web.Optimization
@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.Web.Mvc.Html
@using EPiServer.Web.Routing
<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@Model.CurrentPage.Name - Lake Trust Credit Union</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/Content/images/lake-trust.ico">
    <link rel="apple-touch-icon" href="/Content/images/apple-touch-icon.png">
    @Styles.Render("~/Content/LakeTrust")
    @Scripts.Render("~/Scripts/Modernizr")
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/Content/ie.css">
        @Scripts.Render("~/Scripts/IE")
    <![endif]-->
    <!--[if IE 6]>
        <style>
            body {behavior: url("csshover3.htc");}
            #menu li .drop {background:url("img/drop.gif") no-repeat right 8px;
        </style>
    <![endif]-->
    @if (Model.PageHeader != null)
    {
        if (Model.PageHeader.HeaderJavascriptIncludes != null)
        {
            foreach (var jsFile in Model.PageHeader.HeaderJavascriptIncludes)
            {
                <script type="text/javascript" src="@UrlResolver.Current.GetUrl(jsFile.Href)"></script>
            }
        }
    }
    @if (Model.Layout.CustomHeaderScripts != null)
    {
        if (!string.IsNullOrWhiteSpace(Model.Layout.CustomHeaderScripts.ToHtmlString()))
        {
            @Html.Raw(Model.Layout.CustomHeaderScripts)
        }
    }
    @RenderSection("Header", false)
    @Html.RequiredClientResources("Header")
</head>
<body class="@Model.Layout.BodyClasses">
    @Html.RenderEPiServerQuickNavigator()
    @Html.FullRefreshPropertiesMetaData()

    @if (!this.Model.Layout.HideScreenReaderLink)
    {
        <a class="sr-only" id="main" href="#pagecontainer" accesskey="1">Skip to main content</a>
    }
    @if (Model.CurrentPage.ContentLink.CompareToIgnoreWorkID(EPiServer.Web.SiteDefinition.Current.StartPage))
    {
        <!--[if lte IE 8]>
            <div class="row">
                <div class="col-xs-12">
                    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                </div>
            </div>
        <![endif]-->
    }
    @RenderBody()
    @Scripts.Render("~/Scripts/jquery")
    @Scripts.Render("~/Scripts/LakeTrust")
    @if (Model.PageFooter != null)
    {
        if (Model.PageFooter.JavascriptIncludes != null)
        {
            foreach (var jsFile in Model.PageFooter.JavascriptIncludes)
            {
                <script type="text/javascript" src="@UrlResolver.Current.GetUrl(jsFile.Href)"></script>
            }
        }
    }
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/Scripts/PIE/PIE_IE678.js"></script>
    <![endif]-->
    <!--[if IE 9]>
        <script type="text/javascript" src="/Scripts/PIE/PIE_IE9.js"></script>
    <![endif]-->
    @RenderSection("FooterScripts", false)
    <!--[if lt IE 7 ]>
    <script src="@Url.Content("~/Scripts/libs/dd_belatedpng.js")"></script>
    <script> DD_belatedPNG.fix('img, .png_bg');</script>
    <![endif]-->
    @Html.RequiredClientResources("Footer")
</body>
</html>