﻿@model IPageViewModel<LakeTrustBaseModel>
@{
    Layout = "~/Views/Shared/Layouts/_Root.cshtml";
}

@RenderSection("Header", false)
@if (!Model.Layout.HideHeader)
{
    @Html.Partial("PageHeader", Model.PageHeader)
}
<div class="container" id="LakeTrustPage">
    @RenderBody()
</div>
@if (!Model.Layout.HideFooter)
{
    @Html.Partial("PageFooter", Model.PageFooter)
}
@RenderSection("FooterScripts", false)