﻿@{
    Layout = "~/Views/Shared/Layouts/_Site.cshtml";
}
@section Header{
    @RenderSection("Header", false)
}
<div class="row">
    <div class="col-md-3 hidden-print">
        @RenderSection("LeftColumn", false)
    </div>
    <div class="col-md-9" id="main-column">
        @RenderBody()
    </div>
</div>
@section FooterScripts{
    @RenderSection("FooterScripts", false)
}