﻿@model BlockListViewModel<ChildListBlock, EPiServer.Core.PageData>
@using LakeTrust.Business
@using (Html.BeginBlockWrapper(Model.CurrentBlock, new { @class = "child-list page-widget" }))
{
    if (Model.Items.Count() > 0)
    {
        @Html.RenderBlockTitle(Model.CurrentBlock)
        <div class="widget-inner">
            <ul class="list-unstyled">
                @foreach (EPiServer.Core.PageData child in Model.Items)
                {
                <li>
                    @Html.PageLink(child)
                    @if (Model.CurrentBlock.DisplayDescription)
                    {
                        <p>@child.GetTeaser("SEODescription", Model.CurrentBlock.DescriptionLength, true)</p>
                    }
                </li>
                }
            </ul>
        </div>
    }
}