﻿@model BlockListViewModel<EventListBlock, CalendarEventPage>
@if (Model.Items.Any())
{
    using (Html.BeginBlockWrapper(Model.CurrentBlock, new { @class = "events-list page-widget" }))
    {
        @Html.RenderBlockTitle(Model.CurrentBlock)
        <div class="widget-inner">
            <ul class="list-unstyled">
                @foreach (CalendarEventPage eventItem in Model.Items)
                {
                    <li>@Html.PageLink(eventItem)</li>
                }
            </ul>
        </div>
    }
}