﻿@model LakeTrust.Models.Blocks.HQ.HQFormBlock
@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
<a name="@Model.Form.Id.ToString()"></a>
@if (Request.QueryString["action"] != null && (Request.QueryString["formid"] != null && Request.QueryString["formid"] == Model.Form.Id.ToString()))
{
    if (Model.SuccessMessage != null)
    {
        <div class="success-form">
            @Html.PropertyFor(x => x.SuccessMessage)
        </div>
    }
    else
    {
        <div>Your message has been sent.</div>
    }
}
else
{
     using (Html.BeginContentWrapper("div", new { @class = Model.GetHQCssClasses() }))
    {
        <div @Html.EditAttributes(m => m.Form)>
            @Html.ValidationSummary()
            @using (Html.BeginXForm(Model.Form, new { Action = Model.ActionUri }))
            {
                Html.RenderXForm(Model.Form);
            }
        </div>
    }
}