﻿@model LakeTrust.Models.Blocks.HQ.HQHtmlBlock
@using (Html.BeginContentWrapper("div", new { @class = Model.GetHQCssClasses() + (Model.StandardHtmlBlock ? " standard" : "") }))
{
    if (Model.IsNavigationPoint)
    {
        <div id="@((Model as IContent).Name.ToLowerInvariant().Replace(" ", "-"))"></div>
    }
    if (!string.IsNullOrWhiteSpace(Model.BlockTitle) || PageEditing.PageIsInEditMode)
    {
        <h2 @Html.EditAttributes(x => x.BlockTitle)>@Model.BlockTitle</h2>
    }
    @Html.PropertyFor(x => x.Content)
}