﻿@model LakeTrust.Models.Blocks.HQ.HQLinkBlock
@using (Html.BeginContentWrapper("div", new { @class = Model.GetHQCssClasses() }))
{
    if (Model.IsNavigationPoint)
    {
        <div id="@((Model as IContent).Name.ToLowerInvariant().Replace(" ", "-"))"></div>
    }
    if (PageEditing.PageIsInEditMode)
    {
        @Html.PropertyFor(x => x.LinkText)
    }
    <a href="@Url.ContentUrl(Model.Link)" class="text-center" @Html.EditAttributes(x => x.Link)>@Model.LinkText</a>
}