﻿@model LakeTrust.Models.Blocks.HQ.HQQuestionAnswerBlock

@using (Html.BeginContentWrapper("div", new { @class = Model.GetHQCssClasses() }))
{
    <div class="question" @Html.EditAttributes(x => x.Question)>
        <span class="upper">Q.</span>
        @Html.Raw(Model.Question)
    </div>
    <div class="answer" @Html.EditAttributes(x => x.Answer)>
        <span class="upper">Answer.</span>
        @Html.Raw(Model.Answer)
    </div>
}