﻿@using LakeTrust.Models.Blocks.HQ
@model HQRotatorBlock
@{
    var id = (Model as IContent).ContentLink;
}
<div id="HQCarousel-@id.ToString()" class="carousel slide metro rotator @(PageEditing.PageIsInEditMode ? "hq-edit":string.Empty)" data-ride="carousel">
    <!-- Slider Content (Wrapper for slides )-->
    <div class="carousel-inner">
        @if (Model.RotatorContentArea != null)
        {
            var counter = 0;
            foreach (var item in Model.RotatorContentArea.FilteredItems)
            {
                var modelItem = item.GetContent() as HQRotatorItemBlock;
                modelItem.ActiveClass = counter == 0 ? "active" : string.Empty;
                Html.RenderContentData(modelItem, true);
                @*@Html.Partial("~/Views/Blocks/HQRotatorItemBlock.cshtml", modelItem)*@
                counter++;
            }
        }
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#HQCarousel-@id.ToString()" data-slide="prev">
    </a>
    <a class="right carousel-control" href="#HQCarousel-@id.ToString()" data-slide="next">
    </a>
</div>