﻿@model LakeTrust.Models.Blocks.HQ.HQRotatorItemBlock
@Html.FullRefreshPropertiesMetaData(new string[] { "SlideCopy", "SlideImage" })
<div class="item @Model.ActiveClass">
    <img src="@Url.ContentUrl(Model.SlideImage)" @Html.EditAttributes(x => x.SlideImage) />
    @if (!string.IsNullOrEmpty(Model.SlideCopy) || PageEditing.PageIsInEditMode)
    {
        <div class="carousel-caption">
            @Html.PropertyFor(x => x.SlideCopy)
        </div>
    }
</div>