﻿@model HtmlBlock
@using (Html.BeginBlockWrapper(Model, new { @class = "widget" }))
{
    @Html.RenderBlockTitle(Model)
    if (!Model.IsBlockLink)
    {
        <div class="widget-inner">
            @Html.PropertyFor(x => x.Content)
        </div>
    }
    else
    {
        <a href="@Url.ContentUrl(Model.BlockUrl)">
            <div class="widget-inner">
                <div>
                    @Html.PropertyFor(x => x.Content)
                </div>
            </div>
        </a>
    }
}