﻿@model LinksListBlock
@if (Model.Links.Count > 0)
{
    <div class="related-links page-widget">
        @Html.RenderBlockTitle(Model)
        <div class="widget-inner">
            @Html.PropertyFor(x => x.Links)
        </div>
    </div>
}