﻿@model BlockListViewModel<NewsListBlock, NewsArticlePage>

@if (Model.Items.Any())
{
    <div class="events-list page-widget">
        @Html.RenderBlockTitle(Model.CurrentBlock)
        <div class="widget-inner">
            <ul class="list-unstyled">
                @foreach (NewsArticlePage page in Model.Items)
                {
                    <li>@Html.PageLink(page)</li>
                }
            </ul>
        </div>
    </div>
}