﻿@model PageListModel
@Html.FullRefreshPropertiesMetaData(new[] { "IncludePublishDate", "IncludeIntroduction", "Count", "SortOrder", "Root", "PageTypeFilter", "CategoryFilter", "Recursive" })
@using (Html.BeginBlockWrapper(Model.CurrentBlock, new { @class = "widget" }))
{
    @Html.RenderBlockTitle(Model.CurrentBlock)
    <div class="widget-inner">
        @foreach (var page in Model.Pages)
        {
            <div class="media">
                @if (Model.DisplayPhoto)
                {
                    var pageImage = page.GetPropertyValue<ContentReference>("PageImage");
                    if (!ContentReference.IsNullOrEmpty(pageImage))
                    {
                        <a class="media-left pull-left" href="#">
                            <img src="@Url.ContentUrl(pageImage)" style="width: 45px;" />
                        </a>
                    }
                }
                <div class="media-body">
                    <div>
                        <strong>
                            @Html.ContentLink(page)
                        </strong>
                    </div>

                    @if (Model.ShowPublishDate)
                    {
                        <p class="date">@page.StartPublish.ToShortDateString() @page.StartPublish.ToShortTimeString()</p>
                    }
                    @if (Model.ShowIntroduction && page is SitePageData)
                    {
                        var withTeaserText = (SitePageData)page;
                        <p>@withTeaserText.SEODescription</p>
                    }
                </div>
            </div>
        }
    </div>
}