﻿@model PollResultViewModel
@using LakeTrust.Models.ViewModels

@using (Html.BeginBlockWrapper(Model.CurrentBlock, "x-form page-widget"))
{
    @Html.RenderBlockTitle(Model.CurrentBlock)
    <div class="widget-inner">
        @if (Model.DisplayResults)
        {
            <label class="question">@Model.PollResult.Question</label>
            foreach (var item in Model.PollResult.Results)
            {
                <label>@string.Format("{0} {1}%", item.Name, item.Percentage)</label>
                <div class="progress">
                    <div class="bar" style="@string.Format("width: {0}%;", item.Percentage)"></div>
                </div>
            }
        }
        else
        {
            <div @Html.EditAttributes(m => m.CurrentBlock.FormPage)>
                @Html.ValidationSummary()
                @using (Html.BeginXForm(Model.CurrentBlock.FormPage, new { Action = Model.CurrentBlock.ActionUri }))
                {
                    Html.RenderXForm(Model.CurrentBlock.FormPage);
                }
            </div>
        }
    </div>
}