﻿@model LakeTrust.Models.Blocks.RewardFormBlock
@Html.RenderBlockTitle(Model)
<div id="CalculateRewards">
    <h4 class="rewards-title services rounded">@Html.PropertyFor(x => x.ServicesTitle)</h4>
    @Html.PropertyFor(x => x.ServicesContentArea, new { CssClass = "questions services-container", childrencssclass = "question-item", tag = "noboot" })
    <h4 class="rewards-title moreservices rounded">@Html.PropertyFor(x => x.MoreServicesTitle)</h4>
    @Html.PropertyFor(x => x.MoreServicesContentArea, new { CssClass = "questions moreservices-container", childrencssclass = "question-item", tag = "noboot" })
    <h4 class="rewards-title questions rounded">@Html.PropertyFor(x => x.QuestionsTitle)</h4>
    @Html.PropertyFor(x => x.QuestionsContentArea, new { CssClass = "questions questions-container", childrencssclass = "question-item", tag = "noboot" })
    <h4 id="RewardsTitle" class="rewards-title results rounded hide">@Html.PropertyFor(x => x.ResultsTitle)</h4>
    <h4 id="NoRewards" class="rewards-title no-rewards rounded">@Html.PropertyFor(x => x.NoRewardsText)</h4>
    <div id="NoResults">@Model.DefaultResultsText</div>
    <div id="CalculateResults" class="row hide">
        <div class="col-sm-6"><div id="TotalRefund" class="rounded"></div></div>
        <span class="plus img-circle">+</span>
        <div class="col-sm-6"><div id="Refunds" class="rounded">2 ATM Refunds!</div></div>
    </div>
</div>