﻿@model LakeTrust.Models.Blocks.RewardFormItemBlock
<div class="@(Model.QuestionLink!=null ? "data-item haslink":"data-item")" data-point="@Model.Points" data-weightpoint="@Model.WeightedPionts">
    <div class="reward-check">@Html.CheckBox("chk-" + ((IContent)Model).ContentLink.ID)</div>
    <div class="reward-question">
        @Html.PropertyFor(x => x.Question)
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <br />
            <em>@Model.Description</em>
        }
    </div>
    @if (Model.QuestionLink != null)
    {
        <div class="reward-link">
            <a class="img-circle" href="@Url.ContentUrl(Model.QuestionLink)"><span class="glyphicon glyphicon-play"></span></a>
        </div>
    }
    <div class="clearfix"></div>
</div>