﻿@model RotatorBlockViewModel
@if (Model.RotatorItems.Count > 0)
{
    <div class="rotator">
        <ul class="rslides">
            @foreach (SlideItem item in Model.RotatorItems)
            {
                @Html.Partial("~/Views/Shared/PagePartials/SlideItem.cshtml", item)
            }
        </ul>
    </div>
}