﻿@model BlockListViewModel<RssFeedBlock, RssFeedImporter.RssItem>
@if (Model.Items.Any())
{
    using (Html.BeginBlockWrapper(Model.CurrentBlock, "events-list page-widget"))
    {
        @Html.RenderBlockTitle(Model.CurrentBlock)
        <div class="widget-inner">
            <ul class="list-unstyled">
                @foreach (var item in Model.Items)
                {
                    <li><a href="@item.Link" rel="@item.Guid.ToString()">@item.Title</a></li>
                }
            </ul>
        </div>
    }
}