﻿@model BlockListViewModel<TwitterFeedBlock, Status>
@using LakeTrust.Business
@if (Model.Items.Any())
{
    using (Html.BeginBlockWrapper(Model.CurrentBlock, new { @class="widget" }))
    {
        using (Html.BeginContentWrapper("div", "widget-inner"))
        {
            @Html.RenderBlockTitle(Model.CurrentBlock)
            <ul class="list-unstyled small-newslist">
                @foreach (Status status in Model.Items)
                {
                    <li>
                        <small>@status.CreatedAt.ToString("MMMM dd, yyyy")</small>
                        <p>@Html.Raw(status.Text.ParseURL().ParseUsername().ParseHashtag())</p>
                        <a href="https://twitter.com/intent/tweet?in_reply_to=@status.StatusID" class="btn btn-mini btn-primary"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;Reply</a>
                        <a href="https://twitter.com/intent/retweet?tweet_id=@status.StatusID" class="btn btn-mini btn-primary"><span class="glyphicon glyphicon-retweet"></span>&nbsp;Retweet</a>
                    </li>
                }
            </ul>
        }
    }
}