﻿@model BlockViewModel<FormBlock>
@using (Html.BeginBlockWrapper(Model.CurrentBlock, new { @class = "widget" }))
{
    <div class="widget-inner" @Html.EditAttributes(m => m.CurrentBlock.BlockForm)>
        @Html.ValidationSummary()
        @using (Html.BeginXForm(Model.CurrentBlock.BlockForm, new { Action = Model.CurrentBlock.ActionUri, @class = "xform" }))
        {
            Html.RenderXForm(Model.CurrentBlock.BlockForm);
        }
    </div>
}