﻿@model IEnumerable<string>
@using EPiServer.Web.Routing
@{
    var loader = ServiceLocator.Current.GetInstance<EPiServer.IContentLoader>();
    var currentPage = loader.Get<PageData>(HttpContext.Current.Request.RequestContext.GetContentLink()).GetPropertyValue<ContentReference>("BlogStartReference", ContentReference.EmptyReference);
}
<div class="child-links page-widget sb wb">
    <h3>Categories</h3>
    <div class="widget-inner">
        <ul class="nav nav-list">
            @foreach (var category in Model)
            {
                <li>
                    <a href="@string.Format("{0}paging/1/{1}", Url.ContentUrl(currentPage), category)">@category</a>
                </li>
            }
        </ul>
    </div>
</div>