﻿@model IEnumerable<BlogPostPage>
@using LakeTrust.Business.Blog

@foreach (BlogPostPage blogPost in Model)
{
    var tags = blogPost.TagLinks();
    <div class="media">
        @if (blogPost.BlogPostImage != null)
        {
            <img src="@Url.ContentUrl(blogPost.BlogPostImage)" alt="@blogPost.BlogPostImageAltText" title="@blogPost.Title" class="pull-left" />
        }
        <div class="media-body">
            <a title="@blogPost.Title" href="@Url.ContentUrl(blogPost.ContentLink)"><h3 class="media-heading">@blogPost.Title</h3></a>
            <ul class="list-inline">
                <li><strong>Posted: </strong>@blogPost.StartPublish.ToString("MMM dd, yyyy")</li>
                <li><strong>By:</strong> @blogPost.CreatedBy.Author()</li>
                @if (!string.IsNullOrWhiteSpace(tags))
                {
                    <li><strong>Categories:</strong> @Html.Raw(tags)</li>
                }
            </ul>
            @Html.Raw(blogPost.Teaser)
        </div>
    </div>
}