﻿@using EPiServer
@using EPiServer.Core
@using EPiServer.Web.Routing
@using LakeTrust.Business
@{
    var currentPageLink = HttpContext.Current.GetRequestContext().GetContentLink();
    var items = DataFactory.Instance.GetAncestors(currentPageLink)
                                                            .Where(p => !p.ContentLink.CompareToIgnoreWorkID(EPiServer.Web.SiteDefinition.Current.RootPage))
                                                            .Reverse()
                                                            .Skip(1);
    var currentPage = EPiServer.DataFactory.Instance.Get<IContent>(currentPageLink);

}
@if (!currentPageLink.CompareToIgnoreWorkID(EPiServer.Web.SiteDefinition.Current.StartPage))
{
    if (items.Count() > 1)
    {
        <ul id="breadcrumb" class="breadcrumb hidden-print">
            @foreach (IContent iContent in items)
            {
                <li><a href="@Url.ContentUrl(iContent.ContentLink)">@iContent.Name</a></li>
            }
            <li>@currentPage.Name</li>
        </ul>
    }
}