﻿@model ContentReference
    @using EPiServer.Web.Routing
    @{
        var contentLink = Request.RequestContext.GetContentLink();
        var currentPage = contentLink.Get<SitePageData>();
    }
    <div class="child-links page-widget sb wb">
        <h3>@Html.Raw(currentPage.GetPropertyValue<string>("PageNavigationTitle", "Page Navigation"))</h3>
        <div class="widget-inner">
            <ul class="sub-nav">
                @Html.MenuList(Model, ItemTemplate)
            </ul>
        </div>
    </div>
    @helper ItemTemplate(MenuItem menuItem)
{
    <li>
        @LinkTemplate(menuItem)
        @if (menuItem.Selected && menuItem.HasChildren.Value)
        {
            <ul class="parent depth-@menuItem.Depth">
                @Html.MenuList(menuItem.Page.ContentLink, ItemTemplate)
            </ul>
        }
    </li>
}

    @helper LinkTemplate(MenuItem item)
{
    if (item.Page.ContentLink.CompareToIgnoreWorkID(Request.RequestContext.GetContentLink()))
    {
        <span>@item.Page.Name</span>
    }
    else
    {
        if (item.Selected)
        {
            @Html.ContentLink(item.Page.ContentLink, null, new { @class = "selectedPage" })
        }
        else
        {
            @Html.ContentLink(item.Page.ContentLink)
        }
    }
}