﻿@using EPiServer
@using EPiServer.Core
@using EPiServer.Web.Routing
@{
    var currentPageLink = HttpContext.Current.GetRequestContext().GetContentLink();
    var currentPage = DataFactory.Instance.Get<PageData>(currentPageLink);
    var emailUrl = string.Format("mailto:?subject=Lake Trust: {0}&body={1}{2}", currentPage.GetPropertyValue<string>("Title"), VirtualPathUtility.RemoveTrailingSlash(EPiServer.Web.SiteDefinition.Current.SiteUrl.ToString()), Url.ContentUrl(currentPageLink));
}
<div class="btn-toolbar utilities-menu pull-right hidden-print">
    <div class="btn-group">
        <a href="#" class="rounded" onclick="javascript:window.print(); return false;"><i class="glyphicon glyphicon-print"></i></a>
        <a href="#" class="rounded" onclick="window.location = '@emailUrl'; return false;"><i class="glyphicon glyphicon-envelope"></i></a>
        <a href="#" class="rounded" onclick="resizeText('normal'); return false;" style="font-size: 12px;" title="Normal">A</a>
        <a href="#" class="rounded" onclick="resizeText('large'); return false;" style="font-size: 15px;" title="Large">A</a>
        <a href="#" class="rounded" onclick="resizeText('xlarge'); return false;" style="font-size: 18px;" title="XLarge">A</a>
    </div>
</div>