﻿@model PageHeaderModel
@using EPiServer
@using EPiServer.Core
@using EPiServer.Editor
@{
    var fluidClass = Model.IsLandingPage ? "col-sm-12 hidden-xs" : "col-sm-12 col-md-8 hidden-xs";
}
<div id="header" class="hidden-print">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <a href="/" class="brand" title="Lake Trust Credit Union">Lake Trust Credit Union</a>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="row">
                    @if (!Model.IsLandingPage)
                    {
                        <div class="col-xs-6 visible-xs">
                            <a href="#" id="QuickLinks" class="quicklinks">Quick Links<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </div>
                    }
                    <div class="@fluidClass">
                        @if (Model.HeaderNavigation.Count > 0 || PageEditing.PageIsInEditMode)
                        {
                            <ul class="breadcrumb pull-right" role="navigation">
                                @foreach (LinkItem item in Model.HeaderNavigation)
                                {
                                    <li>@Html.PageLink(item)</li>
                                }
                                @if (Model.IsLandingPage)
                                {
                                    <li>@Html.ContentLink("Continue to LakeTrust.org", EPiServer.Web.SiteDefinition.Current.StartPage, null, new { @class = "landing-link" })</li>
                                }
                            </ul>
                        }
                    </div>
                    @if (!Model.IsLandingPage)
                    {
                        <div class="col-xs-6 col-sm-offset-6 col-md-4 col-md-offset-0">
                            <div class="search-box" @Html.EditAttributes(x => x.SearchPageContentLink)>
                                <label class="sr-only" for="searchtext">Search:</label>
                                <input id="searchtext" class="form-control" placeholder="search" type="text" />
                                <input type="hidden" value="@Url.ContentUrl(Model.SearchPageContentLink)" id="searchUrl" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (!Model.IsLandingPage)
        {
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <a class="mycreditcard pull-right" href="@Url.ContentUrl(Model.MyCreditCardLink)" @Html.EditAttributes(x => x.MyCreditCardLink)>@Model.MyCreditCartText <b class="glyphicon glyphicon-chevron-right"></b></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    @*Phone Navigation Items*@
                    <div class="main-navigation-bkg visible-xs">
                        <div class="mobile-main-nav row">
                            <a class="col-xs-6 text-center" href="#" id="MainNavigationMobileSelector" data-toggle="collapse" data-target="#MobileMainNavDropdown">Menu <b class="glyphicon glyphicon-chevron-down"></b></a>
                            <a class="col-xs-6 text-center" href="#" data-toggle="collapse" data-target="#MobileLoginDropdown">Log In <b class="glyphicon glyphicon-chevron-down"></b></a>
                        </div>
                    </div>
                    <div id="MobileMainNavDropdown" class="collapse">
                        <ul class="nav nav-pills nav-stacked" role="navigation">
                            @foreach (PageData mainLink in Model.MainNavigation)
                            {
                                <li>@Html.ContentLink(mainLink, null, new { @class = "text-center" })</li>
                            }
                        </ul>
                    </div>
                    <div id="MobileLoginDropdown" class="collapse">
                        <div class="login-container">
                            <div class="title">Login to view your accounts</div>
                            <form autocomplete="off" id="LoginMobile" name="Login" method="post" action="https://www.laketrustonline.org/tob/live/usp-core/app/initialLogin" onsubmit="return setParamStatus();">
                                <div class="form-group">
                                    <label for="userid" class="sr-only">Username</label>
                                    <input type="text" name="userid" maxlength="256" value="" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" name="password" maxlength="32" value="" placeholder="Password">
                                </div>
                                <button type="submit" value="Login" class="btn btn-primary btn-sm"><span class="lock"></span>&nbsp;Login To Accounts</button>
                                <input type="hidden" name="testcookie" value="false" />
                                <input type="hidden" name="testjs" value="false" />
                                <input type="hidden" name="dscheck" value="0" />
                            </form>
                            @Html.PropertyFor(x => x.LoginContent)
                        </div>
                    </div>
                    @*Tablet and Desktop Navigation Items*@
                    <div class="main-navigation-bkg hidden-xs">
                        <div id="main-menu">
                            <div class="nav-collapse main-menu-collapse">
                                <ul id="menu">
                                    @foreach (PageData mainLink in Model.MainNavigation)
                                    {
                                        var children = DataFactory.Instance.GetChildren<PageData>(mainLink.ContentLink).Where(p => p.VisibleInMenu && p.HasTemplate());
                                        <li class="hoverable">
                                            @Html.PageLink(mainLink, null, new { @class = "level-one" })
                                            @if (children.Count() > 0)
                                            {
                                                <div class="@string.Format("dropdown_{0}columns", mainLink.GetPropertyValue<string>("NavigationColumns","1"))">
                                                    <div class="row">
                                                        @{
                                                string className = "col-sm-12";
                                                switch (mainLink.GetPropertyValue<string>("NavigationColumns", "1"))
                                                {
                                                    case "2":
                                                        className = "col-sm-6";
                                                        break;
                                                    case "3":
                                                        className = "col-sm-4";
                                                        break;
                                                    case "4":
                                                        className = "col-sm-3";
                                                        break;
                                                }
                                                        }
                                                        @foreach (var child in children)
                                                        {
                                                            <div class="@className">
                                                                <h3>@Html.ContentLink(child.ContentLink)</h3>
                                                                @{
                                                            var grandChildren = DataFactory.Instance.GetChildren<PageData>(child.ContentLink).Where(p => p.VisibleInMenu && p.HasTemplate());
                                                                }
                                                                @if (grandChildren.Count() > 0)
                                                                {
                                                                    <ul>
                                                                        @foreach (PageData grandChild in grandChildren)
                                                                        {
                                                                            <li>@Html.ContentLink(grandChild.ContentLink)</li>
                                                                        }
                                                                    </ul>
                                                                }
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </li>
                                    }
                                    @if (Model.DesktopBankingLoginPage != null || Model.MobileBankingLoginPage != null)
                                    {
                                        <li class="online-login">
                                            <a href="#" class="level-one" title="click to Log In"><span class="lock"></span>&nbsp;@Model.DesktopBankingLoginPage.Name</a>
                                            <div class="dropdown_1columns login-container">
                                                <div class="title">Login to view your accounts</div>
                                                <form autocomplete="off" id="Login" name="Login" method="post" action="https://www.laketrustonline.org/tob/live/usp-core/app/initialLogin" onsubmit="return setParamStatus();">
                                                    <div class="form-group">
                                                        <label for="userid" class="sr-only">Username</label>
                                                        <input type="text" id="userid" name="userid" maxlength="256" value="" placeholder="Username">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="password" class="sr-only">Password</label>
                                                        <input type="password" id="password" name="password" maxlength="32" value="" placeholder="Password">
                                                    </div>
                                                    <button type="submit" value="Login" class="btn btn-primary btn-sm"><span class="lock"></span>&nbsp;Login To Accounts</button>
                                                    <input type="hidden" id="testcookie" name="testcookie" value="false" />
                                                    <input type="hidden" id="testjs" name="testjs" value="false" />
                                                    <input type="hidden" id="dscheck" name="dscheck" value="0" />
                                                </form>
                                                @Html.PropertyFor(x => x.LoginContent)
                                            </div>
                                            @*@if (Model.DesktopBankingLoginPage != null)
                                                {
                                                    <a href="@Url.ContentUrl(Model.DesktopBankingLoginPage.ContentLink)" id="login-btn-mobi" class="hidden-xs level-one" title="Log In"><i class="glyphicon glyphicon-lock"></i>&nbsp;@Model.DesktopBankingLoginPage.Name</a>
                                                }
                                                @if (Model.MobileBankingLoginPage != null)
                                                {
                                                    <a href="@Url.ContentUrl(Model.MobileBankingLoginPage.ContentLink)" id="login-btn" class="visible-xs level-one" title="Log In"><i class="glyphicon glyphicon-lock"></i>&nbsp;@Model.MobileBankingLoginPage.Name</a>
                                                }*@
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row visible-xs">
                <div class="col-xs-12 mt10">
                    <a class="mycreditcard pull-right" href="@Url.ContentUrl(Model.MyCreditCardLink)" @Html.EditAttributes(x => x.MyCreditCardLink)>@Model.MyCreditCartText <b class="glyphicon glyphicon-chevron-right"></b></a>
                </div>
            </div>
        }
    </div>
</div>