﻿@model LakeTrust.Models.ViewModels.PageFooterModel

<div id="footer">
    <div class="container">
        <div class="row mb20 hidden-print">
            <div class="col-xs-12 col-sm-8">
                <ul class="nav nav-pills nav-stacked" role="navigation" @Html.EditAttributes(x => x.FooterNavigation)>
                    @foreach (LinkItem footerLink in Model.FooterNavigation)
                    {
                        <li>@Html.PageLink(footerLink)</li>
                    }
                </ul>
            </div>           
            <div class="col-xs-12 col-sm-4">
                @Html.PropertyFor(x => x.SocialContentArea, new { CssClass = "nav nav-pills social-nav", CustomTag = "ul", childrencustomtagname = "li" })
            </div>
        </div>
        <div class="row footer-icons">
            <div class="col-xs-12 mb20">
                <img src="/Content/images/NCUA.png" alt="NCUA" />
                <img src="/Content/images/Lenders.png" alt="Equal Housing Lender" />
                <img src="/Content/images/CreditUnions.png" alt="America Credit Unions" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 small">@Html.PropertyFor(x => x.FooterText)</div>
            <div class="col-xs-12 small">@Html.PropertyFor(x => x.FooterAddress)</div>
        </div>
    </div>
</div>