﻿@model IEnumerable<BlogPostPage>
<div class="page-widget wb sb">
    <h3>Most Popular Posts</h3>
    <div class="widget-inner">
        @foreach (BlogPostPage page in Model)
        {
            <div class="popular-post">
                <h4>@Html.PageLink(page)</h4>
            </div>
        }
    </div>
</div>