﻿@model ContentRenderingErrorModel
<div class="alert alert-error">
    <p class="heading">@string.Format("Error while rendering {0} {1}", Model.ContentTypeName, Model.ContentName)</p>
    <p class="details">
        <strong>@Model.Exception.Message</strong><br />
        @Model.Exception.StackTrace
    </p>
</div>