﻿@model IEnumerable<Status>
<div class="page-widget sb wb">
    <h3>Twitter Feed</h3>
    <div class="widget-inner">
        <ul class="list-unstyled small-newslist twitter-feed">
            @foreach (Status tweet in Model)
            {
            <li>
                <small>@tweet.CreatedAt.ToString("MMMM dd, yyyy")</small>
                <p>@Html.Raw(tweet.Text.ParseURL().ParseUsername().ParseHashtag())</p>
                <a href="https://twitter.com/intent/tweet?in_reply_to=@tweet.StatusID" class="btn btn-mini btn-primary first"><span class="glyphicon glyphicon-share-alt"></span>&nbsp;Reply</a>
                <a href="https://twitter.com/intent/retweet?tweet_id=@tweet.StatusID" class="btn btn-mini btn-primary"><span class="glyphicon glyphicon-retweet"></span>&nbsp;Retweet</a>
            </li>
            }
        </ul>
    </div>
</div>